
@{
	ViewBag.Title = "Donacja";
}

<h4>
	@if (ViewBag.FromRegistration)
	{
		<p>
			Wspomóż Fundację "Strong Family", która jest głównym organizatorem i sponsorem różnych imprez, między innymi Polonijnych Kongresów Rodziny.<br />
			Strong Family jest organizacją charytatywno-religijną Non-For-Profit, zatem na końcu roku darczyńcy mogą otrzymać dokument potwierdzający donacje, który jest akceptowany przez IRS.<br />
			Złóż dowolną Donację!<br />
			Donacje można składać wypisując czek na "Strong Family" i wysyłając go na adres: Strong Family, 4105 N Avers Ave, Chicago, IL 60618<br />
			Można także płacić przelewem z karty kredytowej albo za pośrednictwem Pay-Pal. W tym celu należy kliknąć: Donate<br />
			<br />
			
		</p>
		<p>
			W przypadku rejestracji na wszystkie warsztaty (oprócz wymienionych poniżej) Fundacja "Strong Family" prosi o złożenie wybranej donacji:<br />
			<ul>
				<li>
					donacja sugerowana: $ 30
				</li>
				<li>
					donacja przyjacielska: $ 50
				</li>
				<li>
					donacja sponsorska: ...
				</li>
				<li>
					W przypadku warsztatów "Spotkania małżeńskie" - donacja $450 od pary bądź $200 zaliczki.
				</li>
				<li>
					W przypadku warsztatów  "Zranieni - uzdrowieni w miłości" - donacja $60 od pary
				</li>
				<li>
					W przypadku warsztatów "Siedem sekretów efektywnego ojcowska" - donacja $80 od osoby.
				</li>
			</ul>
		</p>
		
		<p>
			Fundacja "Strong Family" dziękuje za wsparcie i chęć udziału w warsztatach Trzeciego Polonijnego Kongresu Rodziny.<br />
			Prosimy o cierpliwość, potwierdzenie rejestracji zostanie wkrótce odesłane na podanego emaila.
		</p>
	}
	else
	{
		<p>
			Wspomóż Fundację "Strong Family", która jest głównym organizatorem i sponsorem różnych imprez, między innymi Polonijnych Kongresów Rodziny.<br />
			Strong Family jest organizacją charytatywno-religijną Non-For-Profit, zatem na końcu roku darczyńcy mogą otrzymać dokument potwierdzający donacje, który jest akceptowany przez IRS.<br />
			Złóż dowolną Donację!<br />
			Donacje można składać wypisując czek na "Strong Family" i wysyłając go na adres: Strong Family, 4105 N Avers Ave, Chicago, IL 60618<br />
			Można także płacić przelewem z karty kredytowej albo za pośrednictwem Pay-Pal. W tym celu należy kliknąć: Donate<br />
			<br />

		</p>
	}
	
</h4>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	<input type="hidden" name="cmd" value="_s-xclick">
	<input type="hidden" name="hosted_button_id" value="EMNXM9UE5HXGW">
	<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

