@{
	ViewBag.Title = "Polonijny Kongres Rodziny - Chicago 2015";
}

<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<img src="~/Content/logo/KR_wbanner_1200x400.jpg" title="Kongres Rodziny" alt="Kongres Rodziny" class="img-responsive logo" />			
		</div>
	</div>
	<div id="blog" class="row">

		<!-- Sidebar -->
		<!--
		<div class="col-sm-2">
			<nav class="nav-sidebar">
				<ul class="nav">
					<li class="@HelperView.ActiveItem("", "Home", null)"><a href="javascript:;"><span class="glyphicon glyphicon-star"></span> Nowości</a></li>
					<li class="@HelperView.ActiveItem("", "Home", null)"><a href="javascript:;">Ostatnie wiadomości</a></li>
					<li class="@HelperView.ActiveItem("", "Home", null)"><a href="javascript:;">Uaktualnienia</a></li>
					<li class="nav-divider"></li>
				</ul>                
			</nav>
			<div><h2 class="ad">Miejsce na twoją reklamę!</h2></div>
			<div><h2 class="ad">Miejsce na twoją reklamę!</h2></div>
		</div>
		-->
		
		<!-- Blog Search box -->
		<!--@using (Html.BeginForm("FindBlogs", "Home", FormMethod.Post))
		{
			<div class="col-sm-4 pull-right">
				<h4><i class="fa fa-search"></i> Szukaj bloga...</h4>
				<div class="input-group">
					<input type="text" class="form-control" name="tags">
					<span class="input-group-btn">
						<button class="btn btn-default" type="submit">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</div>
		}
		-->
		

		<!-- Blog entries -->
		<div id="blog-placeholder"></div>

		<div class="col-md-12 gap10">
			<p>Chcesz przeczytać więcej artykułów? Kliknij <a href="/Home/Artykuly">tutaj</a>.</p>
		</div>
	</div>
</div>

<script type="text/javascript">
	var url = '/home/GetJSONPosts';

	$(document).ready(function () {
		var jsonData = getContextData();
		var context = $.parseJSON(jsonData);
		var html = Handlebars.templates['post'](context);
		$("#blog-placeholder").html(html);
	})
</script>