
@{
	ViewBag.Title = "Konferencje";
}

<h2>Konferencje</h2>

<table class="table-bordered">
	<thead>
		<tr>
			<td><b>PREZENTER</b></td>
			<td><b>MIEJSCE</b></td>
			<td><b>DATA</b></td>
			<td><b>TEMAT</b></td>
			<td><b>OPIS</b></td>
		</tr>
	</thead>
	<tbody id="content-placeholder"></tbody>
</table>

<script type="text/javascript">
	var url = '/home/GetJSONConferences';

	$(document).ready(function () {
		var jsonData = getContextData();
		var context = $.parseJSON(jsonData);
		var html = Handlebars.templates['conference'](context);
		$("#content-placeholder").html(html);
	})
</script>