
@{
    ViewBag.Title = "Konferencje";
}

<h2>Konferencje</h2>

<table class="table-bordered">
    <thead>
        <tr>
            <td><b>PREZENTER</b></td>
            <td><b>MIEJSCE</b></td>
            <td><b>DATA</b></td>
            <td><b>TEMAT</b></td>
            <td><b>OPIS</b></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Jacek Pulikowski</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Bazylika Św. Jacka</td>
            <td>Poniedziałek, 9 luty po Mszy Św. o 19:00.</td>
            <td>Więź małżeńska a wychowanie.</td>
            <td>
                Chodzi o ukazanie jak dobra więź pozytywnie wpływa na wychowanie dzieci do wartości. Podpowiem nie tylko że, warto trudzić się i zabiegać o tę więź ale i jak to wprowadzić w życie. Co robić by więź tę pogłębiać a gdy trzeba ratować. Tentrud inwestycji w więź małżeńską upoważnia rodziców do twierdzenia, że kochają dzieci. Rezygnacja z tego trudu odbiera im prawo mówienia, że kochają dzieci, ponieważ je jawnie krzywdzą. Miłość nigdy nie krzywdzi. Rozwód jest krzywdą, dezercją, nigdy dobrym rozwiązaniem. Tak, rozwód rodziców usuwa grunt spod nóg dziecka odbiera [poczucie bezpieczeństwa powodując większą traumę od śmierci jednego z rodziców. Chcę obnażyć, nonsensowność tzw. rozwodu dla dobra dziecka. Dla dobra dziecka należy się pojednać a nie rozwodzić. W przypadku gdy jedno z rodziców zagraża dzieciom (zdrowiu a nawet życiu) istnieje czasowa separacja, która zawsze pozostawia choćby cień nadziei na powrót do siebie rodziców po wyleczeniu tego, który tego potrzebuje. Można się o to modlić i zabiegać. Rozwód i wejście w nowy związek ostatecznie przekreśla miłość pomiędzy rodzicami. Nonsensem jest twierdzenie, że po wejściu w nowe związki rodziców przed dzieckiem otwiera się „bogactwo psychologiczne” bo ma teraz dwie mamusie i dwóch tatusiów. Jednak zamierzam położyć akcent na pozytywy by zachęcić do inwestycji w więź małżeńską dla własnego szczęścia a przy okazji dla dobra dzieci.
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Jezuicki Ośrodek Milenijny (JOM)</td>
            <td>Wtorek, 10 luty po Mszy Św. o 19:00.</td>
            <td>Ojcostwo, rola ojca w wychowaniu.</td>
            <td>
                W tym temacie chciałbym pokazać ciągle niedocenianą wagę ojca w wychowaniu. Zwłaszcza gdy chodzi o groźbę zagubienia młodego człowieka w życiu i w świecie wartości. Omówię zasady, metody a nawet sposoby, które wpływają pozytywnie na więź ojca z dziećmi i jego autorytet. Ukażę nowe wyzwanie stojące przed kobietami w dobie gdy dziecko na co dzień nie towarzyszy (i nie podziwia) ciężkiej pracy ojca na utrzymanie rodziny. Chodzi o kreowanie obrazu ojca (nawet nie doskonałego) w oczach dzieci przez matkę. Zwrócę uwagę na znaczenie czasu poświęcanego dzieciom przez ojca (w Polsce statystycznie 7 min. z dziećmi ponad 4 godz. z telewizorem i komputerem. Ludzie mówią czas to pieniądz a ja wam mówię czas to miłość (Kardynał Stefan Wyszyński, Prymas Tysiąclecia).
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Misja Miłosierdzia Bożego w Lombard</td>
            <td>Środa, 11 luty po Mszy Św. o 19:00.</td>
            <td>Matka i ojciec w wychowaniu.</td>
            <td>
                W tym temacie zamierzam zwrócić uwagę na odmienność zadań w wychowaniu dzieci. Podkreślić niezastępowalność zarówno ojca jak i matki. By małżonkowie uwierzyli, że uczciwie pragnąc dobra swoich dzieci muszą im zapewnić miłość mężczyzny – ojca, miłość kobiety – matki i miłość pomiędzy ojcem a matką jako pociągającywzór miłości damsko – męskiej. Miłości, której istota i wartość daleko przekracza kontakt seksualny, na którym tak się koncentruje współczesny świat. Głęboka miłość i więź psychiczna oraz duchowa rodziców ma zachęcać dzieci do zakładania pięknych, wiernych i trwałych rodzin przekazujących życie i miłość dzieciom w kolejnych pokoleniach. Problem ucieczki młodych od małżeństwa to również wynik tego, że w niejednej rodzinie rodzice „obrzydzają” dzieciom instytucję małżeństwa i rodziny.
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Jezuicki Ośrodek Milenijny (JOM)</td>
            <td>Czwartek, 12 luty, godzina 20:45.</td>
            <td>Którędy do szczęścia.</td>
            <td>
                Dla młodzieży. Zamierzam pokazać pułapki świata, który łudząc łatwym szczęściem wprowadza młodych na bezdroża hedonistycznego użycia zwłaszcza na polu seksualnym. Prowadzi to do różnorakich uzależnień i odbiera władzę nad samym sobą co zawsze kończy się krachem życiowym. Jedyna droga do szczęścia prowadzi pod górę, pod prąd i że trud pracy nad sobą by wzrastać jest niezbędnym elementem szczęścia prawdziwego. Trzeba najpierw siebie w elementarny sposób posiąść by potem móc siebie ofiarować w miłości na wybranej drodze powołania życiowego. Chcę pokazać, że jedynie Boże drogi prowadzą do szczęścia i że Kościół Katolicki jest najlepszym przewodnikiem po tych drogach.
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Bazylika Św. Jacka</td>
            <td>Piątek, 13 luty po Mszy Św. o 19:00.</td>
            <td>Trudnosci w budowie więzi małżeńskiej i ich pokonywanie.</td>
            <td>
                W tej konferencji chcę podzielić się wieloletnim doświadczeniem pracy w poradni dla małżeństw. Nazwę dziedziny, które sprawiają małżonkom największe trudności, a które często są nie uświadamiane. (Zamiatane pod dywan.) Pokażę sposoby jak pokonywać trudności i nakreślę konkretne propozycje jak wychodzić z mniejszych i większych kryzysów. Najważniejsze przesłanie to przejście w myśleniu z „twoja wina” na „moja wina” zejście na poziom kolan, zaczynając od spowiedzi obu stron (tam gdzie to jest możliwe). Gdy będzie już uczciwa i dobra wola wtedy wszystkie problemy rozwiąże dobra komunikacja. Na szczęście można się jej nauczyć.
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Jezuicki Ośrodek Milenijny (JOM)</td>
            <td>Sobota, 14 luty, godzina 15:00.</td>
            <td>Wyzwania współczesności dla małżonków.</td>
            <td>
                Tu chcę się pochylić nad zagrożeniami płynącymi z „nowoczesnego” świata. Świata, który potępia w czambuł wszystko co tradycyjne, sprawdzone i ...dobre. Wszystko co świat wartościowego i dobrego zniszczył i niszczy jest wyzwaniem współczesnym dla małżonków. Odbudowa tego co dobre, piękne i święte jest konieczna do powrotu szczęśliwości małżeńskiej i rodzinnej. Słowem będę zachęcał małżonków do powrotu do tradycyjnych zasad głoszonych niezmiennie od 2000 lat przez Kościół Katolicki. Ponadto opierając się o wyniki badań będę namawiał do pogłębienia wiary i praktyk religijnych jako największego gwaranta trwałości małżeństwa i szczęścia w życiu. Zamierzam do tego używać argumentów racjonalnych nie pobożnościowych.
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Kościół Św. Cyryla i Metodego</td>
            <td>Niedziela, 15 luty po Mszy Św. o 8:30.</td>
            <td>Wychowanie do ojcostwa i macierzyństwa.</td>
            <td>
                Opracowanie i wdrożenie w życie strategii wychowania do ojcostwa i macierzyństwa w świecie negującym odwieczne wynikające z natury role kobiet i mężczyzn  jest wielką potrzebą chwili. Żyjemy w narastającym chaosie. Świat głosi coraz bardziej absurdalne tezy, kompletnie sprzeczne z naturą i zdrowym rozsądkiem. Co gorsza te obłąkańcze wizje nowej rzeczywistości obwarowuje się prawnie i normalność jest spychana na margines, a nawet karana. Strategia wychowania do normalnościpowinna być mądra, silnie osadzona w realiach natury ale jednocześnie uwzględniająca kulturę. Powinna być atrakcyjna dla dziewcząt i chłopców. Tylko wtedy ma szansę powodzenia. Sądzę, że jest ostatni moment by odwołując się do zdrowego rozsądku powrócić do normalności. (Patrz przykład Norwegii i odrzucenie ideologii gender dzięki jednoosobowej działalności... komika.)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Kościół Św. Alberta</td>
            <td>Niedziela, 15 luty po Mszy Św. o 10:30.</td>
            <td>Wychowanie do ojcostwa i macierzyństwa.</td>
            <td>
                Opracowanie i wdrożenie w życie strategii wychowania do ojcostwa i macierzyństwa w świecie negującym odwieczne wynikające z natury role kobiet i mężczyzn  jest wielką potrzebą chwili. Żyjemy w narastającym chaosie. Świat głosi coraz bardziej absurdalne tezy, kompletnie sprzeczne z naturą i zdrowym rozsądkiem. Co gorsza te obłąkańcze wizje nowej rzeczywistości obwarowuje się prawnie i normalność jest spychana na margines, a nawet karana. Strategia wychowania do normalnościpowinna być mądra, silnie osadzona w realiach natury ale jednocześnie uwzględniająca kulturę. Powinna być atrakcyjna dla dziewcząt i chłopców. Tylko wtedy ma szansę powodzenia. Sądzę, że jest ostatni moment by odwołując się do zdrowego rozsądku powrócić do normalności. (Patrz przykład Norwegii i odrzucenie ideologii gender dzięki jednoosobowej działalności... komika.)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Kościół Św. Alberta</td>
            <td>Niedziela, 15 luty, godzina 13:00.</td>
            <td>Komunikacja narzędziem komunii.</td>
            <td>
                W tym wystąpieniu pragnę przedstawić cel, zasady ale też i błędy komunikacji. Dobra komunikacja jest podstawą budowy komunii – więzi. Niestety ludzie nawet dobrzy, kulturalni, wykształceni  i pobożni nie potrafią się skutecznie porozumiewać. W efekcie podejmowane, nawet w dobrej wierze, rozmowy kończą się źle (gniewem, nieporozumieniami, pretensjami, rozdrażnieniem, wzajemnymi oskarżeniami...itd.)Podam podstawowe zasady dobrej komunikacji mogące w praktyce odwrócić zły los małżeństw (i nie tylko małżeństw). Mogą być radosnym początkiem poprawy więzi małżeńskiej, która jest niezbędnym elementem szczęścia małżonków, ich dzieci...
            </td>
        </tr>
        <tr>
            <td>ks. Marek Dziewiecki</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Jezuicki Ośrodek Milenijny (JOM)</td>
            <td>Sobota, 7 lutego</td>
            <td>Bóg, człowiek i miłość.</td>
            <td>Zwykle mówimy, że człowiek to istota rozumna i wolna. Ta definicja jest niepełna, gdyż nie mówi nic o miłości. A bez miłości nie da się zrozumieć człowieka. Biblia upewnia nas o tym, że człowiek to ktoś kochany i to przez samego Boga. Szczytem tej miłości było przyjście do  nas Syna Bożego w ludzkiej naturze. Na krzyżu Bóg kocha nas do tego stopnia, że nasz los staje się dla Niego ważniejszy niż Jego własny los! Każdy z nas jest ukochanym dzieckiem Bożym! Bóg nas nie tylko kocha, ale też uczy kochać – bezwarunkowo, za nic, na zawsze, ofiarnie, z bliska, a jednocześnie mądrze. Mądrość miłości polega na tym, że Jezus kochał każdego spotkanego człowieka, ale też każdemu okazywał miłość w inny sposób, bo w sposób dostosowany do zachowania danej osoby. Ludzi szlachetnych Jezus wspierał, błądzących upominał, przed krzywdzicielami się bronił, a najbardziej ufał tym, którzy najbardziej kochają. Kto trwa w przyjaźni z Bogiem, ten uczy się od Niego kochać ofiarnie i mądrze jednocześnie.</td>
        </tr>
        <tr>
            <td></td>
            <td>Jezuicki Ośrodek Milenijny (JOM)</td>
            <td>Niedziela, 8 lutego.</td>
            <td>Małżeństwo i rodzina: pierwsze powołanie człowieka.</td>
            <td>Pierwsze polecenie, jakie Bóg kieruje do Adamy i Ewy brzmi: Bądźcie płodni i nawracajcie się. Najważniejszym zadaniem jest zatem dorastanie do miłości małżeńskiej i rodzicielskiej. Dzieje się tak dlatego, że nic tak bardzo nie cieszy, jak wzajemna miłość męża i żony. Nic też bardziej nie rani, jak brak tej miłości. Kto rozumie przysięgę małżeńską, ten rozumie Boga, człowieka i miłość, a kto wypełnia przysięgę małżeńską, ten jest święty! Także powołanie kapłańskie jest w służbie małżeństwa i rodziny, bo kapłan wierny powołaniu to – na wzór Jezusa - największy na ziemi obrońca kobiet, dzieci i wierności małżeńskiej. Sensem celibatu jest to, by kapłan mógł od rana do wieczora wspierać małżeństwa i rodziny, ale nie kosztem swojej żony i swoich dzieci. Jezus podniósł małżeństwo do rangi sakramentu. Żadna religia nie proponuje narzeczonym tak wielkiej wzajemnej miłości, jak czyni to Kościół katolicki.</td>
        </tr>
        <tr>
            <td></td>
            <td>Misja Miłosierdzia Bożego w Lombard</td>
            <td>Niedziela, 8 lutego.</td>
            <td>Małżeństwo i rodzina: pierwsze powołanie człowieka.</td>
            <td>Pierwsze polecenie, jakie Bóg kieruje do Adamy i Ewy brzmi: Bądźcie płodni i nawracajcie się. Najważniejszym zadaniem jest zatem dorastanie do miłości małżeńskiej i rodzicielskiej. Dzieje się tak dlatego, że nic tak bardzo nie cieszy, jak wzajemna miłość męża i żony. Nic też bardziej nie rani, jak brak tej miłości. Kto rozumie przysięgę małżeńską, ten rozumie Boga, człowieka i miłość, a kto wypełnia przysięgę małżeńską, ten jest święty! Także powołanie kapłańskie jest w służbie małżeństwa i rodziny, bo kapłan wierny powołaniu to – na wzór Jezusa - największy na ziemi obrońca kobiet, dzieci i wierności małżeńskiej. Sensem celibatu jest to, by kapłan mógł od rana do wieczora wspierać małżeństwa i rodziny, ale nie kosztem swojej żony i swoich dzieci. Jezus podniósł małżeństwo do rangi sakramentu. Żadna religia nie proponuje narzeczonym tak wielkiej wzajemnej miłości, jak czyni to Kościół katolicki.</td>
        </tr>
        <tr>
            <td></td>
            <td>Kościół Św. Daniela Proroka</td>
            <td>Niedziela, 8 lutego.</td>
            <td>Małżeństwo i rodzina: pierwsze powołanie człowieka.</td>
            <td>Pierwsze polecenie, jakie Bóg kieruje do Adamy i Ewy brzmi: Bądźcie płodni i nawracajcie się. Najważniejszym zadaniem jest zatem dorastanie do miłości małżeńskiej i rodzicielskiej. Dzieje się tak dlatego, że nic tak bardzo nie cieszy, jak wzajemna miłość męża i żony. Nic też bardziej nie rani, jak brak tej miłości. Kto rozumie przysięgę małżeńską, ten rozumie Boga, człowieka i miłość, a kto wypełnia przysięgę małżeńską, ten jest święty! Także powołanie kapłańskie jest w służbie małżeństwa i rodziny, bo kapłan wierny powołaniu to – na wzór Jezusa - największy na ziemi obrońca kobiet, dzieci i wierności małżeńskiej. Sensem celibatu jest to, by kapłan mógł od rana do wieczora wspierać małżeństwa i rodziny, ale nie kosztem swojej żony i swoich dzieci. Jezus podniósł małżeństwo do rangi sakramentu. Żadna religia nie proponuje narzeczonym tak wielkiej wzajemnej miłości, jak czyni to Kościół katolicki.</td>
        </tr>
        <tr>
            <td></td>
            <td>Kościół Św. Brunona</td>
            <td>Niedziela, 8 lutego.</td>
            <td>Małżeństwo i rodzina: pierwsze powołanie człowieka.</td>
            <td>Narzeczeni przysięgają przed Bogiem, że odtąd ta druga osoba będzie dla nich najważniejsza na ziemi i że w tym względzie nic się nie zmieni do śmierci. Żona dla męża a mąż dla żony to ktoś ważniejszy i bardziej kochany niż rodzice, rodzeństwo, dzieci, które się pojawią czy najwspanialsi nawet przyjaciele. Kochać żonę/męża to tak się odnosić do małżonka, że jej czy jemu chce się żyć – w każdej sytuacji, w każdym nastroju, w każdej fazie życia. Kochać małżonka to traktować żonę czy męża jak największy skarb, dla którego jest gotów oddać życie, gdy będzie trzeba. Im bardziej małżonkowie kochają siebie nawzajem, tym bardziej pragną dzielić się swoją miłością z potomstwem. Ich zadaniem jest przyjąć dzieci z miłością, solidnie, po katolicku wychować, a następnie pozwolić im odejść, by mogły zrealizować własne powołanie – da małżeństwa, kapłaństwa czy życia zakonnego. Najszczęśliwsze są dzieci wtedy, gdy widzą, że tata kocha mamę, a mama kocha tatę. Wtedy są one spokojne o przyszłość rodziców i o swoją przyszłość.</td>
        </tr>
        <tr>
            <td></td>
            <td>Kościół Św. Brunona</td>
            <td>Niedziela, 8 lutego.</td>
            <td>KONFERENCJA STANOWA DLA RODZICÓW: Miłość do małżonka i do dzieci.</td>
            <td>Pierwsze polecenie, jakie Bóg kieruje do Adamy i Ewy brzmi: Bądźcie płodni i nawracajcie się. Najważniejszym zadaniem jest zatem dorastanie do miłości małżeńskiej i rodzicielskiej. Dzieje się tak dlatego, że nic tak bardzo nie cieszy, jak wzajemna miłość męża i żony. Nic też bardziej nie rani, jak brak tej miłości. Kto rozumie przysięgę małżeńską, ten rozumie Boga, człowieka i miłość, a kto wypełnia przysięgę małżeńską, ten jest święty! Także powołanie kapłańskie jest w służbie małżeństwa i rodziny, bo kapłan wierny powołaniu to – na wzór Jezusa - największy na ziemi obrońca kobiet, dzieci i wierności małżeńskiej. Sensem celibatu jest to, by kapłan mógł od rana do wieczora wspierać małżeństwa i rodziny, ale nie kosztem swojej żony i swoich dzieci. Jezus podniósł małżeństwo do rangi sakramentu. Żadna religia nie proponuje narzeczonym tak wielkiej wzajemnej miłości, jak czyni to Kościół katolicki.</td>
        </tr>
        <tr>
            <td></td>
            <td>Ojcowie Cystersi  (Willow Spring, na górce)</td>
            <td>Niedziela, 8 lutego.</td>
            <td>Małżeństwo i rodzina: pierwsze powołanie człowieka.</td>
            <td>Pierwsze polecenie, jakie Bóg kieruje do Adamy i Ewy brzmi: Bądźcie płodni i nawracajcie się. Najważniejszym zadaniem jest zatem dorastanie do miłości małżeńskiej i rodzicielskiej. Dzieje się tak dlatego, że nic tak bardzo nie cieszy, jak wzajemna miłość męża i żony. Nic też bardziej nie rani, jak brak tej miłości. Kto rozumie przysięgę małżeńską, ten rozumie Boga, człowieka i miłość, a kto wypełnia przysięgę małżeńską, ten jest święty! Także powołanie kapłańskie jest w służbie małżeństwa i rodziny, bo kapłan wierny powołaniu to – na wzór Jezusa - największy na ziemi obrońca kobiet, dzieci i wierności małżeńskiej. Sensem celibatu jest to, by kapłan mógł od rana do wieczora wspierać małżeństwa i rodziny, ale nie kosztem swojej żony i swoich dzieci. Jezus podniósł małżeństwo do rangi sakramentu. Żadna religia nie proponuje narzeczonym tak wielkiej wzajemnej miłości, jak czyni to Kościół katolicki.</td>
        </tr>
        <tr>
            <td></td>
            <td>Jezuicki Ośrodek Milenijny (JOM)</td>
            <td>Poniedziałek, 9 lutego po Mszy Św. o 19:00.</td>
            <td>Zagrożenia miłości małżeńskiej i rodzicielskiej.</td>
            <td>Im wcześniej dostrzega ktoś z małżonków początkowe znaki nadchodzącego kryzysu, tym większa jest szansa, by szybko kryzys ten przezwyciężyć i by znowu cała rodzina była szczęśliwa. Pierwszy znak nadchodzącego kryzysu ma miejsce wtedy, gdy któreś z małżonków przestaje okazywać miłość małżonkowi i dzieciom. Kto kocha, ten co chwila daje znaki miłości, podobnie jak ten, kto żyje, nieustannie oddycha. Drugi znak nadchodzącego kryzysu to zaniedbania w wychowaniu dzieci. Dzieci niewychowane nie poradzą sobie z życiem. Same zaczną cierpieć i zaczną zadawać coraz większe cierpienia swoim rodzicom. Trzeci znak, że nadchodzi kryzys ma miejsce wtedy, gdyż ktoś z małżonków oddala się od Boga, przestaje się modlić i korzystać z sakramentów. Łamie wtedy przysięgę małżeńską, bo zobowiązał się do korzystania z pomocy Boga, a teraz chowa się przed Bogiem. Jeśli już dojdzie niestety do poważnego kryzysu, to krzywdzony małżonek ma prawo bronić się przed krzywdą, ale nie ma prawa łamać własnej przysięgi i wchodzić z kimś w związek niesakramentalny.</td>
        </tr>
        <tr>
            <td></td>
            <td>Kościół Św. Konstancji</td>
            <td>Wtorek, 10 luty po Mszy Św. o 19:00.</td>
            <td>Jak kochać tych, którzy nie kochają?</td>
            <td>Niełatwo jest kochać przez całe życie nawet tych, którzy są szlachetni i którymi się cieszymy. Tym trudniej jest kochać tych, którzy wchodzą w kryzys, nie kochają Boga, bliźnich, a nawet samych siebie i zadają nam bolesne cierpienie. Bóg daje nam mądrość i siły, by kochać nawet w takiej sytuacji. To, w jaki sposób kochać ludzi, którzy błądzą, odchodzą od nas i nie reagują nawet na miłość Boga, wyjaśnia nam Jezus w znanej przypowieści o mądrze kochającym ojcu i marnotrawnym synu. Oto syn odchodzi, mimo że ojciec go kocha i nie ma ojcu niczego do zarzucenia. Ten młody człowiek jest naiwny i szuka łatwego szczęścia na zasadzie: łatwe pieniądze i rozrywkowy tryb życia. Mimo to ojciec nie przestaje kochać syna i daje mu znaki miłości: wychodzi na drogę, a znajomi informują syna o tej postawie ojca. Ojciec jednak nie idzie do syna. Nie odbiera synowi cierpienia, bo cierpienie to ostatnia deska ratunku dla kogoś, kto bardzo błądzi, popada w uzależnienia, ciężko grzeszy. Pod wpływem cierpienia syn się zastanawia i powraca przemieniony. Dopiero wtedy odkrywa, że cały czas był kochany i że ojciec nie robi mu wymówek, lecz urządza święto. To lekcja cierpliwej i mądrej miłości dla każdego z nas.</td>
        </tr>
        <tr>
            <td></td>
            <td>Jezuicki Ośrodek Milenijny (JOM)</td>
            <td>Środa, 11 luty po Mszy Św. o 19:00.</td>
            <td>Cele i metody wychowania katolickiego.</td>
            <td>Wychowanie katolickie to pomaganie początkowo bezradnym i nieświadomym siebie dzieciom, by stopniowo odkrywały swoją godność i swoje powołanie do świętości, by stawały się podobne do samego Boga, czyli by uczyły się kochać tak, jak Bóg ich pokochał. Tylko wtedy będą zdolne do miłości w małżeństwie, kapłaństwie czy życiu konsekrowanym. Cele szczegółowe wychowania to uczenie dzieci, by – na wzór Jezusa – mądrze myślały, by solidnie pracowały i by wiernie kochały. Najważniejszą metodą wychowania jest przyprowadzanie dzieci do Jezusa, fascynowanie ich Jego mądrością i Jego miłością. Inne metody wychowania to fascynowanie dzieci życiem zgodnym z przykazaniami Bożymi, ochrona dzieci przed demoralizatorami i każdym złem, a także wyciąganie wniosków z postępowania dzieci. Jeśli czynią coś dobrego, to warto dzieci wspierać i chwalić, a jeśli błądzą, to należy je upominać i ograniczać zaufanie do nich. Chrześcijaństwo uczy nas realizmu i przypomina, że po grzechu pierworodnym nie jest możliwa spontaniczna samorealizacja, a zadaniem rodziców jest kochać dzieci i stawiać im wymagania. Miłość bez wymagań zamienia się w naiwność, a wymagania bez miłości to nie wychowanie, lecz tresura.</td>
        </tr>
        <tr>
            <td></td>
            <td>Jezuicki Ośrodek Milenijny (JOM)</td>
            <td>Czwartek, 12 luty, godzina 20:45.</td>
            <td>„Kobietą i mężczyzną stworzył ich” – biblijny sens płciowości.</td>
            <td>Nie istnieje po prostu człowiek. Każdy z nas istnieje na sposób mężczyzny lub na sposób kobiety. Pierwszym sensem płciowości jest świadomość, że nikt z nas nie jest pełnią. Nikt z nas nie jest samowystarczalny. Drugim sensem płciowości jest wzajemne wspieranie się mężczyzn i kobiet. Mężczyźni lepiej radzą sobie w świecie przedmiotów, zarządzania czy produkcji. Z kolei kobiety są bardziej wrażliwe na świat osób, na więzi i wychowanie, na czułość i bliskość. Miłość w relacji mężczyzna-kobieta to najbardziej radosny sposób pokonywania samotności, a szczytem miłości do osoby drugiej płci jest sakramentalne małżeństwo i trwała rodzina. Dojrzały chrześcijanin to ktoś, kto cieszy się własną płcią i kto z szacunkiem odnosi się do osób płci przeciwnej. Nic nie daje nam takiej siły i radości, jak bliskość osoby drugiej płci, która nas rozumie i chroni swoją miłością i którą my rozumiemy i chronimy naszą miłością.</td>
        </tr>
        <tr>
            <td></td>
            <td>Jezuicki Ośrodek Milenijny (JOM)</td>
            <td>Piątek, 13 luty po Mszy Św. o 19:00.</td>
            <td>Nawrócenie i pojednanie z Bogiem, ze sobą i z bliźnimi.</td>
            <td>Owocem rekolekcji powinno być nie tylko odwrócenie się od zła i nawrócenie do dobra, lecz także pojednanie. Pojednać się z Bogiem to nie tylko przeprosić Go za nasze grzechy i postanowić poprawę. To także odkryć, że Bóg nigdy nie zsyła mi cierpienia, lecz przeciwnie – w każdej fazie mego życia kocha mnie najmądrzej i najmocniej. Także wtedy, gdy sobie tego nie uświadamiam. Pojednać się z samym sobą to przebaczyć sobie minione grzechy i błędy, ale już do nich nie wracać. Można przebaczyć sobie tylko złą przeszłość. Jeśli moja teraźniejszość jest zła, to mam się nawracać, by tu i teraz żyć szlachetnie. Pojednanie z bliźnim oznacza, że jeśli ja w czymś zawiniłem, to przychodzę do skrzywdzonego, przepraszam, opisuję moje winy i wynagradzam. Jeśli natomiast to ja jestem krzywdzony, wtedy nie mszczę się, nie wycofuję miłości, przebaczam krzywdzicielowi w sercu minione winy, a tu i teraz się bronię, jeśli nadal próbuje mnie krzywdzić, Gdy któregoś dnia nawróci się, uzna swoje winy, przeprosi i wynagrodzi za zło, wtedy powiem mu, że w sercu już mu dawno przebaczyłem, ale nie mogłem mu o tym powiedzieć, dopóki nadal błądził. Trzeba odróżniać przebaczenie od pojednania, a miłosierdzie od naiwności i od pobłażania złu.</td>
        </tr>
        <tr>
            <td></td>
            <td>Jezuicki Ośrodek Milenijny (JOM)</td>
            <td>Piątek, 13 luty, godzina 20:45.</td>
            <td>Od zakochania do miłości i małżeństwa.</td>
            <td>Nikt z nas nie jest Bogiem dlatego nie uczymy się miłości tak łatwo, jak języka ojczystego czy jak poruszania się o własnych siłach. Pierwszą fazą uczenia się miłości jest doświadczanie miłości ze strony rodziców, w których jesteśmy zakochani jako małe dzieci. Drugą fazą uczenia się miłości jest zakochanie w osobie drugiej płci, gdy jesteśmy nastolatkami czy dorosłymi. Zakochanie to ogromne zauroczenie, które może odbierać zdrowy rozsądek. Źle przeżyte zakochanie nie prowadzi do miłości i małżeństwa, lecz do inicjacji seksualnej, ucieczki od rodziców, oddalenia się od Boga, do rezygnacji z własnych ideałów i aspiracji. Źle przeżyte zakochanie prowadzi też do mylenia miłości z uczuciem, pożądaniem, współżyciem, tolerancją, akceptacją, „wolnymi związkami” czy z naiwnością. Zakochanie przeżyte w czystości staje się ważną lekcją uczenia się miłości, czyli najpiękniejszego sposobu odnoszenia się człowieka do drugiego człowieka. Istotą miłości nie są przeżywane uczucia, bo one się zmieniają, lecz troska o dobro i świętość kochanej osoby.</td>
        </tr>
        <tr>
            <td></td>
            <td>Jezuicki Ośrodek Milenijny (JOM)</td>
            <td>Sobota, 14 luty, godzina 15:00.</td>
            <td>Analiza sakramentalnej przysięgi małżeńskiej.</td>
            <td>Sakramentalna przysięga, którą składają sobie narzeczeni, to konstytucja małżeństwa i rodziny. To ślubowanie sobie wzajemnie największej miłości, jaka istnienie na tej ziemi między mężczyzną a kobietą. To rezultat świadomej i wolnej decyzji – „biorę Ciebie”. To wybranie osoby, od której ważniejszy będzie jedynie Bóg. To decydowanie się na zawierzenie tej drugiej osobie własnego losu doczesnego i losu dzieci, którymi Bóg obdarzy małżonków. To ślubowanie tej drugiej osobie miłości, wierności i uczciwości w dobrej i złej doli aż do śmierci. To deklarowanie miłości nie prywatnie, w cztery oczy, lecz przy świadkach, na piśmie i z powołaniem się na pomoc Boga. Sakrament małżeństwa – podobnie jak inne sakramenty – to nie jakieś prawo obywatelskie, lecz przywilej przyjaciół Jezusa. Im bliżej małżonkowie pozostają Boga i im wierniej wypełniają wszystkie przykazania, tym większa będzie ich wzajemna miłość i radość. Małżonkowie wierni swojej przysiędze są błogosławieństwem dla siebie nawzajem, dla dzieci, krewnych i dla całego społeczeństwa. Przyszłość ludzkości zależy od małżeństwa i rodziny.</td>
        </tr>
        <tr>
            <td></td>
            <td>Jezuicki Ośrodek Milenijny (JOM)</td>
            <td>Niedziela, 15 luty.</td>
            <td>Powołani do świętości w małżeństwie i rodzinie</td>
            <td>Bóg pragnie, byśmy na ziemi żyli długo i by się nam tu dobrze powodziło i byśmy po śmierci doczesnej żyli wiecznie we wspólnocie zbawionych. Największym pragnieniem Boga jest to, byśmy nie tylko przyjęli łaskę zbawienia, lecz byśmy stawali się świętymi, podobnie jak On jest święty. Święty to nie ktoś doskonały, gdyż doskonały jest tylko Bóg. Święty to także nie cierpiętnik, który nadstawia policzek do bicia i wszędzie szuka cierpienia. To byłaby karykatura świętości. Święty to ktoś podobny do Jezusa. A Jezus cieszył się życiem, pozwalał zapraszać się na porządne uczty, promieniował mądrością, miłością, radością. Fascynował ludzi tak, że szli za Nim nawet na pustynię i to bez jedzenia i picia. Ludzie dobrzy gotowi byli oddać za Niego życie, a ludzie podli chcieli Go zabić, bo niepokoił ich sumienia. Święty na wzór Jezusa to ktoś dobry i mądry jednocześnie (a nie Boża fajtłapa). Święty to ktoś, kto kocha wszystkich, ale wiąże się osobiście z tymi, którzy też kochają. Święty to ktoś, kto wybiera drogę błogosławieństwa i życia w świecie, w którym tak wielu wybiera drogę przekleństwa i śmierci. Święty to radosny ambasador Boga na ziemi.</td>
        </tr>
        <tr>
            <td></td>
            <td>Kościół Św. Tomasza Becketta (Mt. Prospect)</td>
            <td>Niedziela, 15 luty.</td>
            <td>Powołani do świętości w małżeństwie i rodzinie</td>
            <td>Bóg pragnie, byśmy na ziemi żyli długo i by się nam tu dobrze powodziło i byśmy po śmierci doczesnej żyli wiecznie we wspólnocie zbawionych. Największym pragnieniem Boga jest to, byśmy nie tylko przyjęli łaskę zbawienia, lecz byśmy stawali się świętymi, podobnie jak On jest święty. Święty to nie ktoś doskonały, gdyż doskonały jest tylko Bóg. Święty to także nie cierpiętnik, który nadstawia policzek do bicia i wszędzie szuka cierpienia. To byłaby karykatura świętości. Święty to ktoś podobny do Jezusa. A Jezus cieszył się życiem, pozwalał zapraszać się na porządne uczty, promieniował mądrością, miłością, radością. Fascynował ludzi tak, że szli za Nim nawet na pustynię i to bez jedzenia i picia. Ludzie dobrzy gotowi byli oddać za Niego życie, a ludzie podli chcieli Go zabić, bo niepokoił ich sumienia. Święty na wzór Jezusa to ktoś dobry i mądry jednocześnie (a nie Boża fajtłapa). Święty to ktoś, kto kocha wszystkich, ale wiąże się osobiście z tymi, którzy też kochają. Święty to ktoś, kto wybiera drogę błogosławieństwa i życia w świecie, w którym tak wielu wybiera drogę przekleństwa i śmierci. Święty to radosny ambasador Boga na ziemi.</td>
        </tr>
        <tr>
            <td></td>
            <td>Bazylika Św. Jacka</td>
            <td>Niedziela, 15 luty.</td>
            <td>Powołani do świętości w małżeństwie i rodzinie</td>
            <td>Bóg pragnie, byśmy na ziemi żyli długo i by się nam tu dobrze powodziło i byśmy po śmierci doczesnej żyli wiecznie we wspólnocie zbawionych. Największym pragnieniem Boga jest to, byśmy nie tylko przyjęli łaskę zbawienia, lecz byśmy stawali się świętymi, podobnie jak On jest święty. Święty to nie ktoś doskonały, gdyż doskonały jest tylko Bóg. Święty to także nie cierpiętnik, który nadstawia policzek do bicia i wszędzie szuka cierpienia. To byłaby karykatura świętości. Święty to ktoś podobny do Jezusa. A Jezus cieszył się życiem, pozwalał zapraszać się na porządne uczty, promieniował mądrością, miłością, radością. Fascynował ludzi tak, że szli za Nim nawet na pustynię i to bez jedzenia i picia. Ludzie dobrzy gotowi byli oddać za Niego życie, a ludzie podli chcieli Go zabić, bo niepokoił ich sumienia. Święty na wzór Jezusa to ktoś dobry i mądry jednocześnie (a nie Boża fajtłapa). Święty to ktoś, kto kocha wszystkich, ale wiąże się osobiście z tymi, którzy też kochają. Święty to ktoś, kto wybiera drogę błogosławieństwa i życia w świecie, w którym tak wielu wybiera drogę przekleństwa i śmierci. Święty to radosny ambasador Boga na ziemi.</td>
        </tr>
        <tr>
            <td>ks. Marian Pokrywka</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>        
        <tr>
            <td></td>
            <td>Jezuicki Ośrodek Milenijny (JOM)</td>
            <td>Sobota, 14 luty, godzina 15:00.</td>
            <td>Antropologia małżeństwa i rodziny</td>
            <td>
                Refleksja nad człowiekiem oraz refleksja nad małżeństwem i rodziną są ściśle ze sobą związane i nawzajem się przenikają. Prawda o człowieku determinuje styl życia małżeńskiego oraz model rodziny, natomiast małżeństwo i rodzina ukształtowane według zamysłu Bożego stanowią „pierwszą i podstawową drogę do poznania i ocalenia prawdy i godności o człowieku”. Nie można więc zrozumieć człowieka, małżeństwa i rodziny wyrywając je ze splotu wzajemnych istotowych odniesień. Małżeństwo i rodzina jest przedmiotem refleksji podejmowanej przez różne nauki.  Często są to nauki szczegółowe o charakterze empiryczno-opisowym, takie jak socjologia, prawo czy psychologia. Nie ulega wątpliwości, że wkład tych nauk jest ważny i znaczący, ale same te nauki nie są w stanie przekazać całościowej wizji. Małżeństwo i rodzina jest rzeczywistością antropologiczną i domaga się refleksji zarówno na poziomie poznania filozoficznego, jak i teologicznego. Trzeba przy tym pamiętać, że nie ma integralnie rozumianej antropologii poza tą, „jaką objawił Bóg w Stworzeniu i Odkupieniu, stwarzając mężczyznę i kobietę i powołując ich do uczestnictwa w swojej Miłości”. Chcąc odczytać prawdę o małżeństwie i rodzinie trzeba odwołać się do Objawienia. Prawda o małżeństwie jest bowiem „ponad wolą jednostek, kaprysami poszczególnych małżeństw, decyzjami organizmów społecznych i rządowych”. Bóg jest twórcą małżeństwa, dlatego też  w Jego zamyśle małżeństwo i rodzina winny szukać swej tożsamości.
                Szczególnie ważne wydaje się odwołanie do samych początków historii człowieka i małżeństwa. Ów „początek” bowiem stanowi istotny punkt odniesienia pozwalający zrozumieć misterium małżeństwa i rodziny. Mężczyzna i kobieta są obrazem Boga nie tylko przez samo człowieczeństwo, ale również z racji właściwego im uzdolnienia do nawiązywania osobowych relacji i tworzenia wspólnoty z innymi osobami. Stąd też obraz Boży należy upatrywać także w zróżnicowaniu płci i wspólnocie małżeńskiej. Małżeństwo „u początku” ma wymiar normatywny dla mężczyzn i kobiet wszystkich epok.
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Kościół Św. Ferdynanda</td>
            <td>Niedziela, 15 luty, Homilia na Mszy Św. o 7:00 i 10:15.</td>
            <td>Oblicza miłości – oblicze nienarodzonego</td>
            <td>
                Niewątpliwie jednym z najważniejszych zadań małżeństwa i rodziny jest służba życiu. Małżeństwo staje się rodziną, kiedy rodzą się w nim dzieci. Miłość małżeńska staje się pełniejsza, kiedy owocuje przekazywaniem życia. Powołanie rodzicielskie małżonków jako służba życiu oznacza przyjęcie dziecka jako daru Bożej miłości. Dziecko może być prawidłowo przyjęte tylko jako dar, albowiem jedynie w ten sposób jest kochane dla niego samego, a więc darmowo i bezinteresownie. Św. Jan Paweł II w jednej z katechez powiedział o dzieciach, że są „uśmiechem nieba powierzonym ziemi. Są prawdziwymi klejnotami rodziny i społeczeństwa. Są radością Kościoła”. Natomiast w Liście do Rodzin, przywołując ewangeliczną scenę Sądu Ostatecznego, dopowiedział: „Byłem dzieckiem nie narodzonym i przyjęliście Mnie, pozwoliliście Mi się urodzić. Byłem dzieckiem i staliście się dla mnie rodziną. Byłem dzieckiem osieroconym, a adoptowaliście Mnie, wychowując jak własne dziecię”. I jeszcze dalej: „Pomagaliście wątpiącym i zagrożonym matkom przyjąć dziecię nie narodzone i urodzić, pomagaliście wielodzietnym rodzinom, rodzinom w różnorodnych trudnościach utrzymywać i wychowywać potomstwo, którym Bóg je obdarzył” (nr 22). Rodzina ocali siebie, kiedy będzie sanktuarium życia, świętą przestrzenią, w której każde życie bez wyjątku zawsze jest dobrem.
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Kościół Św. Ferdynanda</td>
            <td>Niedziela, 15 luty, godzina 15:00.</td>
            <td>Małżeństwo i rodzina wobec wyzwań współczesności</td>
            <td>
                Rodzina jest fundamentem życia społecznego i w niej odzwierciedlają się i przełamują wielkie procesy przemian społecznych. Nie ulega wątpliwości, że struktury rodzinne – w których funkcjonowała ludzkość przez wiele wieków – aktualnie ulegają radykalnym przewartościowaniom. Wskutek zachodzących szybkich przemian, Kościół – coraz wyraźniej od  czasu Soboru Watykańskiego II – stara się zrozumieć i opisać sytuację człowieka w dzisiejszym świecie. Ponieważ dzieje człowieka przebiegają przez rodzinę, nie może dziwić, że słowa Jana Pawła II z Redemptor hominis: „człowiek jest pierwszą drogą Kościoła” odnajdują swe dopełnienie w stwierdzeniu, że „rodzina jest drogą pierwszą i z wielu względów najważniejszą”.
                Nie ulega wątpliwości, że nie wystarczy jedynie dokładne rozpoznanie i opisanie sytuacji w wymiarze zewnętrznym. Potrzebne jest dokonanie – w perspektywie wiary – teologicznej interpretacji, aby współczesne uwarunkowania odczytać jako istotne wyzwania dla dzieła nowej ewangelizacji. Trzeba zdawać sobie sprawę, że taka interpretacja nie jest sprawą łatwą. Chodzi tu bowiem o coś więcej niż tylko o zwykłe rozróżnienie czynników pozytywnych i negatywnych. Należy zadbać, aby czynniki pozytywne nie pozostały w izolacji ani się sobie nie przeciwstawiały, zaś w przypadku czynników negatywnych należy sprawdzić czy nie kryje się w nich jakaś ukryta wartość, której prawda czeka na pełne wydobycie. Chrześcijańscy małżonkowie nie mogą więc w otaczającej ich  rzeczywistości widzieć jedynie „danych statystycznych”, pozostając wobec nich biernymi i obojętnymi, ale „zadanie”, czy wręcz wyzwanie skierowane do ich odpowiedzialności. Potrzeba, aby rodziny chrześcijańskie odczytały zachodzące zjawiska społeczno-kulturowe jako wyzwanie do podjęcia w duchu Ewangelii odpowiedzialności za losy świata.
            </td>
        </tr>
        <tr>
            <td>Małgorzata Olczak</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Jezuicki Ośrodek Milenijny (JOM)</td>
            <td>Środa 11 luty, godzina 20:45.</td>
            <td>Ja i Ty - Jak przetrwać konflikty i budować pozytywne relacje.</td>
            <td>
                Dlaczego młodzi ludzie coraz rzadziej chcą kultywować rodzinne wartości?  Gdzie szukać domów, w których najbliżsi okazują sobie szacunek, zrozumienie a  w razie problemów- wspólne działanie? Czy rodzice mogą nadal efektywnie pomagać dzieciom w omijaniu licznych niebezpieczeństw, które niesie ze sobą cywilizacja.  To tylko nieliczne, z długiej listy pytań, które zadają sobie współcześni rodzice. Maja oni wiele powodów do  niepewności, smutku a nawet poczucia zagrożenia o losy własnych dzieci.
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Misja Miłosierdzia Bożego w Lombard</td>
            <td>Czwartek 12 luty po Mszy Św. o 19:00. </td>
            <td>Efektywne wychowanie czyli garść wskazówek o tym jak pielęgnować w rodzinie relacje oparte na wzajemnym zrozumieniu, szacunku i odpowiedzialności.</td>
            <td>
                Mimo tak wielu wyzwań, przed którymi stoją współcześni rodzice nadal możliwe jest wychowywanie dzieci, które będą umiały dokonywać własnych wyborów opartych na moralnych zasadach. Mając świadomość istniejących trudności istotne jest, abyśmy doskonalili nasze umiejętności wychowawcze.  Jeżeli tylko będziemy wiedzieć  co należy zrobić , to na pewno to zrobimy. Powołanie do rodzicielstwa nakłada na nas -   Rodziców  szczególny, ale i radosny obowiązek. Jest nim poszukiwanie najwłaściwszych i najefektywniejszych dróg do pielęgnowania i rozwijania w naszych dzieciach potencjałów miłości, którymi zostały obdarowane przez naszego Najdoskonalszego Rodzica!
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Kościół Św. Tomasza Becketa</td>
            <td>Niedziela 15 luty, godzina 11:45.</td>
            <td>Efektywne wychowanie czyli garść wskazówek o tym jak pielęgnować w rodzinie relacje oparte na wzajemnym zrozumieniu, szacunku i odpowiedzialności.</td>
            <td>
                Mimo tak wielu wyzwań, przed którymi stoją współcześni rodzice nadal możliwe jest wychowywanie dzieci, które będą umiały dokonywać własnych wyborów opartych na moralnych zasadach. Mając świadomość istniejących trudności istotne jest, abyśmy doskonalili nasze umiejętności wychowawcze.  Jeżeli tylko będziemy wiedzieć  co należy zrobić , to na pewno to zrobimy. Powołanie do rodzicielstwa nakłada na nas -   Rodziców  szczególny, ale i radosny obowiązek. Jest nim poszukiwanie najwłaściwszych i najefektywniejszych dróg do pielęgnowania i rozwijania w naszych dzieciach potencjałów miłości, którymi zostały obdarowane przez naszego Najdoskonalszego Rodzica!
            </td>
        </tr>
        <tr>
            <td>O. Jerzy Karpiński SJ</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Misja Miłosierdzia Bożego w Lombard</td>
            <td>Piątek 6 lutego po Mszy Św. o 19:00. </td>
            <td>Każde trudne sakramentalne małżeństwo jest do uratowania.</td>
            <td>
                Charyzmatem Wspólnoty Trudnych Małżeństw SYCHAR jest dążenie jej członków do uzdrowienia sakramentalnego małżeństwa, które przeżywa kryzys.
                Współpracując z Jezusem Chrystusem – Bogiem, w każdej sytuacji nawet, po ludzku patrząc, beznadziejnej możliwe jest odrodzenie małżeństwa.
                Dla Boga bowiem nie ma rzeczy niemożliwych.
                Prawda o mocy sakramentu oznacza, że nawet, jeśli małżonkowie nie potrafią ze sobą być i odchodzą w stan separacji, czyli oddzielnego mieszkania, to ich małżeństwo – Sakramentalne Przymierze małżonków z Bogiem – trwa nadal.
                Nadal są mężem i żoną, i jako tacy staną przed Bogiem. Sakrament małżeństwa jest darem Boga, który daje małżonkom siłę odtwarzania wspólnoty małżeńskiej właściwie w każdej sytuacji.
                Wspólnota Trudnych Małżeństw SYCHAR jest Wspólnotą Wiernej Miłości Małżeńskiej, którą założyli sakramentalni małżonkowie.
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Bazylika św. Jacka</td>
            <td>Środa 12 luty po Mszy Św. o 19:00. </td>
            <td>Każde trudne sakramentalne małżeństwo jest do uratowania.</td>
            <td>
                Charyzmatem Wspólnoty Trudnych Małżeństw SYCHAR jest dążenie jej członków do uzdrowienia sakramentalnego małżeństwa, które przeżywa kryzys.
                Współpracując z Jezusem Chrystusem – Bogiem, w każdej sytuacji nawet, po ludzku patrząc, beznadziejnej możliwe jest odrodzenie małżeństwa.
                Dla Boga bowiem nie ma rzeczy niemożliwych.
                Prawda o mocy sakramentu oznacza, że nawet, jeśli małżonkowie nie potrafią ze sobą być i odchodzą w stan separacji, czyli oddzielnego mieszkania, to ich małżeństwo – Sakramentalne Przymierze małżonków z Bogiem – trwa nadal.
                Nadal są mężem i żoną, i jako tacy staną przed Bogiem. Sakrament małżeństwa jest darem Boga, który daje małżonkom siłę odtwarzania wspólnoty małżeńskiej właściwie w każdej sytuacji.
                Wspólnota Trudnych Małżeństw SYCHAR jest Wspólnotą Wiernej Miłości Małżeńskiej, którą założyli sakramentalni małżonkowie.
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Misja Miłosierdzia Bożego w Lombard</td>
            <td>Piątek 13 luty po Mszy Św. o 19:00. </td>
            <td>Każde trudne sakramentalne małżeństwo jest do uratowania.</td>
            <td>
                Charyzmatem Wspólnoty Trudnych Małżeństw SYCHAR jest dążenie jej członków do uzdrowienia sakramentalnego małżeństwa, które przeżywa kryzys.
                Współpracując z Jezusem Chrystusem – Bogiem, w każdej sytuacji nawet, po ludzku patrząc, beznadziejnej możliwe jest odrodzenie małżeństwa.
                Dla Boga bowiem nie ma rzeczy niemożliwych.
                Prawda o mocy sakramentu oznacza, że nawet, jeśli małżonkowie nie potrafią ze sobą być i odchodzą w stan separacji, czyli oddzielnego mieszkania, to ich małżeństwo – Sakramentalne Przymierze małżonków z Bogiem – trwa nadal.
                Nadal są mężem i żoną, i jako tacy staną przed Bogiem. Sakrament małżeństwa jest darem Boga, który daje małżonkom siłę odtwarzania wspólnoty małżeńskiej właściwie w każdej sytuacji.
                Wspólnota Trudnych Małżeństw SYCHAR jest Wspólnotą Wiernej Miłości Małżeńskiej, którą założyli sakramentalni małżonkowie.
            </td>
        </tr>
        <tr>
            <td>O. Paweł Bandurski</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Kościół św. Władysława</td>
            <td>Piątek 6 luty po Mszy Św. o 19:00. </td>
            <td>Relacja z Bogiem drogą wewnętrznego uzdrowienia i przebaczenia.</td>
            <td>
                Człowiek stworzony na obraz i podobieństwo Boże jest nieustannie zapraszany do życia w komunii z Bogiem.
                Jednak ze względu na skutki grzechu pierworodnego dźwiga w sobie skłonność do grzechu.
                Poddając się sytuacji grzesznej burzy zaplanowaną przez Boga harmonię w relacji do Niego, siebie samego i drugiego człowieka.
                W konsekwencji doświadcza cierpienia, które wyniszcza nie tylko jego samego ale również najbliższe mu osoby.
                Ponowne otwarcie się na miłość i przebaczenie ofiarowane mu przez Boga sprawia, iż rozpoczyna się process wewnętrznego uzdrowienia.
                Na wytrwałych, kroczących drogą odbudowywania relacji, czeka wspaniałe doświadczenie wolności pośrod zmagań.
                Towarzysząca Boża łaska wspiera człowieka umacniając go na drodze przechodzenia z grzechu do wolności dziecka Bożego.
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Bazylika św. Jacka</td>
            <td>Sobota 7 luty, godzina 18:30. </td>
            <td>Ogólne zaproszenie do udziału oraz przeszkody w budowaniu relacji z Bogiem i człowiekiem.</td>
            <td>
                Człowiek stworzony na obraz i podobieństwo Boże jest nieustannie zapraszany do życia w komunii z Bogiem.
                Jednak ze względu na skutki grzechu pierworodnego dźwiga w sobie skłonność do grzechu.
                Poddając się sytuacji grzesznej burzy zaplanowaną przez Boga harmonię w relacji do Niego, siebie samego i drugiego człowieka.
                W konsekwencji doświadcza cierpienia, które wyniszcza nie tylko jego samego ale również najbliższe mu osoby.
                Ponowne otwarcie się na miłość i przebaczenie ofiarowane mu przez Boga sprawia, iż rozpoczyna się process wewnętrznego uzdrowienia.
                Na wytrwałych, kroczących drogą odbudowywania relacji, czeka wspaniałe doświadczenie wolności pośrod zmagań.
                Towarzysząca Boża łaska wspiera człowieka umacniając go na drodze przechodzenia z grzechu do wolności dziecka Bożego.
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Kościół ojców Cystersów</td>
            <td>Sobota 7 luty, godzina 21:00. </td>
            <td>Nabożeństwo pokutne - Wewnętrzne uzdrowienie i przebaczenie w budowaniu relacji małżeńskiej i rodzinnej.</td>
            <td>
                Człowiek stworzony na obraz i podobieństwo Boże jest nieustannie zapraszany do życia w komunii z Bogiem.
                Jednak ze względu na skutki grzechu pierworodnego dźwiga w sobie skłonność do grzechu.
                Poddając się sytuacji grzesznej burzy zaplanowaną przez Boga harmonię w relacji do Niego, siebie samego i drugiego człowieka.
                W konsekwencji doświadcza cierpienia, które wyniszcza nie tylko jego samego ale również najbliższe mu osoby.
                Ponowne otwarcie się na miłość i przebaczenie ofiarowane mu przez Boga sprawia, iż rozpoczyna się process wewnętrznego uzdrowienia.
                Na wytrwałych, kroczących drogą odbudowywania relacji, czeka wspaniałe doświadczenie wolności pośrod zmagań.
                Towarzysząca Boża łaska wspiera człowieka umacniając go na drodze przechodzenia z grzechu do wolności dziecka Bożego.
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Kościół św. Williama</td>
            <td>Niedziela 8 luty, godzina 10:30. </td>
            <td>Eucharystia objawieniem miłości Boga. Wezwani do przejścia z grzechu do wolności.</td>
            <td>
                Człowiek stworzony na obraz i podobieństwo Boże jest nieustannie zapraszany do życia w komunii z Bogiem.
                Jednak ze względu na skutki grzechu pierworodnego dźwiga w sobie skłonność do grzechu.
                Poddając się sytuacji grzesznej burzy zaplanowaną przez Boga harmonię w relacji do Niego, siebie samego i drugiego człowieka.
                W konsekwencji doświadcza cierpienia, które wyniszcza nie tylko jego samego ale również najbliższe mu osoby.
                Ponowne otwarcie się na miłość i przebaczenie ofiarowane mu przez Boga sprawia, iż rozpoczyna się process wewnętrznego uzdrowienia.
                Na wytrwałych, kroczących drogą odbudowywania relacji, czeka wspaniałe doświadczenie wolności pośrod zmagań.
                Towarzysząca Boża łaska wspiera człowieka umacniając go na drodze przechodzenia z grzechu do wolności dziecka Bożego.
            </td>
        </tr>
        <tr>
            <td></td>
            <td>Kościół św. Franciszka Borgiasza</td>
            <td>Niedziela 8 luty, godzina 13:30. </td>
            <td>Eucharystia objawieniem miłości Boga. Wezwani do przejścia z grzechu do wolności.</td>
            <td>
                Człowiek stworzony na obraz i podobieństwo Boże jest nieustannie zapraszany do życia w komunii z Bogiem.
                Jednak ze względu na skutki grzechu pierworodnego dźwiga w sobie skłonność do grzechu.
                Poddając się sytuacji grzesznej burzy zaplanowaną przez Boga harmonię w relacji do Niego, siebie samego i drugiego człowieka.
                W konsekwencji doświadcza cierpienia, które wyniszcza nie tylko jego samego ale również najbliższe mu osoby.
                Ponowne otwarcie się na miłość i przebaczenie ofiarowane mu przez Boga sprawia, iż rozpoczyna się process wewnętrznego uzdrowienia.
                Na wytrwałych, kroczących drogą odbudowywania relacji, czeka wspaniałe doświadczenie wolności pośrod zmagań.
                Towarzysząca Boża łaska wspiera człowieka umacniając go na drodze przechodzenia z grzechu do wolności dziecka Bożego.
            </td>
        </tr>
    </tbody>
</table>