
@{
	ViewBag.Title = "Kontakt";
}

<h2>Kontakt</h2>

<address>
	<b>Strong Family<br />
	4105 N Avers Ave<br />
	Chicago, IL 60618</b><br /><br />
	<abbr title="Telefon">Tel:</abbr>
	773-414-5461<br />
	Email: <a href="mailto:info@kongressrodzinychicago.org">info@kongressrodzinychicago.org</a>
</address>
