
@{
    ViewBag.Title = "Kontakt";
}

<h2>Kontakt</h2>

<address>
    5835 W. Irving Park Road<br />
    Chicago, IL 60634<br />
    <abbr title="Telefon">Tel:</abbr>
    773.777.7000
</address>