
@{
    ViewBag.Title = "Miejsca";
}

<h2>Miejsca</h2>

<table class="table">
<thead>
    <tr>
        <td>Nazwa & Adres</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td>
            Jezuicki Ośrodek Milenijny<br />
            5835 W. Irving Park Rd.<br />
            Chicago, IL 60634
        </td>
    </tr>
    <tr>
        <td>
            Kościół św. Władysława<br />
            5345 W Rascoe St.<br />
            Chicago, IL. 60641
        </td>
    </tr>
    <tr>
        <td>
            Kościół Miłosierdzia Bożego<br />
            21W411 Sunset Ave.<br />
            Lombard, IL 60148
        </td>
    </tr>
    <tr>
        <td>
            Kościół św. Tomasza Becketta<br />
            1321 North Burning Bush Lane<br />
            Mount Prospect, IL 60056
        </td>
    </tr>
    <tr>
        <td>
            Kościół ojców Cystersów<br />
            116 Hilton St.<br />
            Willow Springs, IL 60480
        </td>
    </tr>
    <tr>
        <td>
            Kościół św. Ferdynanda<br />
            5900 West Barry Avenue<br />
            Chicago, IL 60634
        </td>
    </tr>
    <tr>
        <td>
            Kościół św. Gertrudy<br />
            9613 Schiller Boulevard<br />
            Franklin Park, IL 60131
        </td>
    </tr>
    <tr>
        <td>
            Kościół św. Trójcy<br />
            118 N Noble Street<br />
            Chicago, IL 60642
        </td>
    </tr>
    <tr>
        <td>
            Kościół św. Williama<br />
            2600 N. Sayre Ave.<br />
            Chicago, IL 60707
        </td>
    </tr>
    <tr>
        <td>
            Kościół św. Franciszka Borgiasza<br />
            8033 West Addison Street<br />
            Chicago, IL 60634
        </td>
    </tr>
    <tr>
        <td>
            Kościół św. Daniela Proroka<br />
            5300 S. Natoma Ave.<br />
            Chicago, IL 6063
        </td>
    </tr>
    <tr>
        <td>
            Kościół św. Brunona<br />
            4751 South Harding Avenue<br />
            Chicago, IL 60632
        </td>
    </tr>
    <tr>
        <td>
            Kościół św. Konstancji<br />
            5843 West Strong Street<br />
            Chicago, IL 60630
        </td>
    </tr>
    <tr>
        <td>
            Kościół św. Alberta<br />
            8000 S. Linder Ave.<br />
            Burbank, IL 60459
        </td>
    </tr>
    <tr>
        <td>
            Kościół św. Cyryla i Metodego<br />
            608 Sobieski Street<br />
            Lemont, IL 60439
        </td>
    </tr>
    <tr>
        <td>
            Bazylika św. Jacka<br />
            3636 West Wolfram Street<br />
            Chicago, Illinois 60618
        </td>
    </tr>
</tbody>
</table>