
@{
    ViewBag.Title = "Misja";
}

<h2>Oblicza miłości - Rodzice</h2>
<h2>Wszyscy jesteśmy powołani do miłości i wychowania.</h2>

<p>
    Na co dzień przekonujemy się o tym, że nasz osobisty los i los naszych bliskich, a także los całej
    ludzkości zależy najbardziej od tego, co dzieje się między mężczyzną a kobietą, a zwłaszcza między mężem i
    żoną oraz między rodzicami a dziećmi. Nic tak nie cieszy, jak wzajemna miłość małżonków aż do śmierci. Nic
    też tak nie boli, jak brak tej miłości. To właśnie dlatego pierwsze polecenie, jakie Bóg kieruje do Adama i Ewy,
    dotyczy małżeństwa i rodziny.
</p>
<p>
    Podstawą szczęśliwego małżeństwa oraz trwałej i szczęśliwej rodziny jest miłość między mężem a żoną
    oraz między rodzicami a dziećmi. Szczęśliwa rodzina to taka, w której każdy kocha każdego. Narzeczeni,
    którzy decydują się na zawarcie sakramentalnego małżeństwa w Kościele katolickim, ślubują sobie nie tylko
    miłość do siebie nawzajem. Ślubują także, że z miłością przyjmą i po katolicku wychowają swoje dzieci oraz że
    swoje małżeńskie i rodzicielskie zadania będą wypełniać z pomocą Boga.
</p>
<p>
    Kryzys w małżeństwie zaczyna się wtedy, gdy jedno z małżonków przestaje okazywać miłość drugiemu
    małżonkowi, gdy małżonkowie zaniedbują katolickie wychowanie swoich dzieci lub gdy oddalają się od Boga,
    czyli przestają korzystać z Jego pomocy w byciu wiernym małżonkiem i odpowiedzialnym rodzicem.
</p>
<p>
    W czasie II Kongresu konferencje rekolekcyjne – podobnie jak w czasie I Kongresu – głosić będzie ks.
    dr Marek Dziewiecki (Radom). Jego konferencje dotyczyć będą różnych obliczy miłości w małżeństwie i
    rodzinie. Miłość to taki sposób odnoszenia się do drugiej osoby, dzięki któremu kochanej osobie chce się żyć i
    który sprawia, że kochana osoba znajduje siłę, by radzić sobie nawet w bardzo trudnych sytuacjach życiowych.
    Miłość, jakiej uczy nas Jezus, przejawia się w naszej trosce, wierności, odpowiedzialności, uczciwości,
    wytrwałości, w naszym ciągłym nawracaniu się po to, by naszych bliskich kochać coraz bardziej i coraz
    mądrzej. Kochać na wzór Jezusa to być gotowym do oddania życia za bliskich. To traktować małżonka i dzieci
    jak największe skarby na tej ziemi. To stawać się dla nich zamkiem obronnym i świadkiem miłości Boga do
    człowieka.
</p>
<p>
    Ważną formą miłości w małżeństwie i rodzinie jest katolickie wychowanie dzieci. Trzeba strzec się
    dwóch skrajności. Pierwsza skrajność polega na tym, że rodzice starają się kochać swoje dzieci, ale nie stawiają
    im wymagań ani koniecznych granic. Nie uczą ich dyscypliny ani zasad moralnych. W konsekwencji mylą
    wychowanie z rozpieszczeniem i pobłażaniem. Dzieci rozpieszczane nie poradzą sobie z życiem, gdyż po
    grzechu pierworodnym każdy z nas musi się przynajmniej czasami mierzyć z twardą rzeczywistością, która nas
    nie rozpieszcza. Druga skrajność polega na tym, że rodzice wprawdzie stawiają dzieciom wymagania i uczą
    Dekalogu, ale nie wspierają dzieci swoją miłością. Dzieci czują się wtedy niekochane i nie mają siły do
    rozwoju.
</p>
<p>
    Być odpowiedzialnym, katolickim rodzicem to jednocześnie kochać i wymagać. Najłatwiej
    wychowywać te dzieci, które czują się kochane. Dziecko czuje się najbardziej kochane i bezpieczne wtedy, gdy
    widzi, że mama i tata kochają siebie nawzajem. Pierwszą zatem formą miłości rodziców do dzieci jest
    wzajemna miłość taty do mamy i mamy do taty. Miłość kierowana przez rodziców bezpośrednio do dziecka
    przejawia się poprzez ich czułość, cierpliwość i serdeczność. Pierwszym warunkiem miłości rodzicielskiej jest
    obecność mamy i taty przy dziecku, czyli czas poświęcony potomstwu.
</p>
<p>
    Kochać i wychowywać dzieci to wspierać je w rozwoju. To przyprowadzać je do Chrystusa. To uczyć
    je modlitwy i formować sumienia zgodnie z Dekalogiem i zasadami Ewangelii. To uczyć synów i córki
    dyscypliny oraz pracowitości na co dzień. To pomagać dzieciom, by uczyły się miłości bliźniego i by jako
    dorośli stały się zdolne do założenia szczęśliwej, trwałej rodziny. To fascynować dzieci mądrością i dobrocią
    Jezusa. To chronić ich czystość i niewinność. To pomagać im w stawaniu się podobnymi do Jezusa, czyli
    świętymi. Dobrze wychowane dzieci mobilizują i pomagają rodzicom w rozwoju, bo stawiają im wymagania.
</p>
<p>
    Wszyscy jesteśmy powołani do miłości i do wychowywania tych, których kochamy. Wszyscy - to
    znaczy, nie tylko ci, którzy są wzorem i którzy nie borykają się z poważnymi problemami. Do miłości i
    wychowywania swoich bliskich powołani są także ci, którzy czują się poturbowani i boleśnie doświadczeni,
    którzy przeszli przez krzyż, rozłąkę, porzucenie czy opuszczenie. Wszyscy możemy uczyć się dojrzałej miłości
    od Jezusa i stawać się błogosławieństwem dla naszych bliskich.
</p>