
@{
	ViewBag.Title = "Misja";
}

<h2>Zranieni – uzdrowieni w miłości</h2>

<p>
	Miłość jest wielkim darem Boga dla człowieka. Dzięki miłości życie rozkwita. Brak miłości lub jej zranienie powodują zaburzenia rozwoju, są przyczyną nieszczęścia i niszczą relacje międzyosobowe. Gdy myślę o zranieniach miłości dostrzegam ich szkodliwość na różnych etapach życia: u początki życia, w okresie dojrzewania, w przeżywaniu pierwszych relacji zakochania, zbliżeń i rozstań. Mam świadomość tragizmu zranienia miłości poprzez zdradę małżeńską. Również uzależnienia wszelkiego typu są zranieniem miłości.
</p>
<p>
	Zranieni bywają dzieci, małżonkowie, rodzice, rodzeństwo, teściowie, dziadkowie, wnuczkowie. Najbardziej bolą nas rany zadane przez bliskich, członków rodziny, przyjaciół. Bliska osoba to wśród bliźnich ta szczególnie ważna dla nas. Rany zadane z jej strony bolą najbardziej. W języku polskim słowo bliźni zawiera w sobie słowo blizna. Bliźni zadają nam blizny, czasem niechcący, czasem w zamierzony, wyrafinowany sposób. Prawdą jest także to, że jak pisze Stachura: „Z bliźnim się można zabliźnić”. To właśnie osoby, które zadały ból często są tymi, które mogą najskuteczniej uleczyć poprzez przeproszenie i wybaczenie.
</p>
<p>
	Zranieni bywają dzieci, małżonkowie, rodzice, rodzeństwo, teściowie, dziadkowie, wnuczkowie. Najbardziej bolą nas rany zadane przez bliskich, członków rodziny, przyjaciół. Bliska osoba to wśród bliźnich ta szczególnie ważna dla nas. Rany zadane z jej strony bolą najbardziej. W języku polskim słowo bliźni zawiera w sobie słowo blizna. Bliźni zadają nam blizny, czasem niechcący, czasem w zamierzony, wyrafinowany sposób. Prawdą jest także to, że jak pisze Stachura: „Z bliźnim się można zabliźnić”. To właśnie osoby, które zadały ból często są tymi, które mogą najskuteczniej uleczyć poprzez przeproszenie i wybaczenie.<br/>
</p>
<p>
	I znowu wracamy do miłości, bez której uzdrowienie jest niemożliwe. To miłość dobrze przeżywana stanowi podstawę leczenia z różnego typu zranień. Miłość jest doświadczeniem psychicznym i duchowym zarazem, a jej obecność lub brak obecności, przeżywamy także w ciele. Dlatego można powiedzieć, że miłość obecna w życiu człowieka przenika całą jego egzystencje i przyczynia się do wszechstronnego rozwoju. Jej brak lub zranienie ma także konsekwencje we wszystkich sferach ludzkiego życia.<br/><br/>
	<ol>
		<li>
			<u>Zranienia u początku życia</u>. Przeżywa je małe dziecko od poczęcia do pójścia do szkoły, najczęściej w domu rodzinnym nieraz w przedszkolu. Dzieci niechciane, „ocaleńcy”, dzieci molestowane, bite, zastraszane, zaniedbywane – noszą potem przez całe życie balast zranionej miłości. Jak pomóc ludziom, których zaufanie zostało zburzone w dzieciństwie? Jak nauczyć odwagi i przedsiębiorczości kogoś, kto był w dzieciństwie ośmieszany, poniżany, lekceważony i przyjął na siebie rolę kozła ofiarnego (wieczne poczucie wstydu i poczucie winy)?
		</li>
		<li>
			<u>Zranieni w szkole</u>. Osoby ponoszące porażki, niezdolne do osiągania sukcesu w nauce, ośmieszane przez kolegów, bo są biedniejsze, mniej utalentowane, gorzej ubrane. Bo z powodu zaniedbań wychowawczych są uzależnione od internetu, komputera, papierosów, narkotyków. Jak pomóc osobom z kompleksami niższości? Jak wzmacniać poczucie własnej wartości?
		</li>
		<li>
			<u>Zranieni w okresie dojrzewania</u> – Poddani silnym bodźcom erotyzującym i ulegający presji cywilizacji użycia, zamknięci w wirtualnym świecie gier komputerowych i profili społecznościowych, przeżywający trudności w komunikacji interpersonalnej, nie radzący sobie ze swymi hormonami młodzi ludzie, niezdolni do ukształtowania własnej tożsamości i odpowiedzialności za siebie, nie umieją nawiązywać intymnych, czystych, pięknych i głębokich relacji miedzy kobietą i mężczyzną. W epoce genderyzmu wielu młodych ludzi stawia sobie pytania o własna tożsamość seksualną, mężczyzny lub kobiety i o własną orientację seksualną. Jak im pomóc? Jak umożliwić doświadczenie leczącej miłości?
		</li>
		<li>
			<u>Zranieni w małżeństwie</u> – Małżonkowie rozczarowani sobą nawzajem, skłóceni lub osamotnieni z powodu braku czasu i braku zainteresowania pielęgnowaniem relacji małżeńskich, doświadczający zdrad, przemocy, lekceważenia, mają poczucie, że miłość zawiodła, że jej wcale nie ma. Rany zdrady małżeńskiej sięgają głęboko. Przebaczająca miłość wydaje się naiwnością. Jak nakłonić ich do terapii i do troski o duchowość małżonków? Jak przełamać powszechnie panujące przekonanie, że gdy pojawiają się trudności w małżeństwie, najlepiej wystąpić o rozwód?
		</li>
		<li>
			<u>Zranieni w rodzicielstwie</u> – Przyczyn klęsk wychowawczych jest wiele. Rodzice, którzy „robili wszystko”, aby zapewnić dzieciom komfort życia i rozwoju teraz z przerażeniem odkrywają, że dzieci przekreślają przekazywany im świat wartości, religii.  W zagubieniu i w pogoni za przyjemnościami, karierą i sukcesem niszczą swoje życie i odwracają się od rodziców. Jak przełamać raniące bariery międzypokoleniowe? Jak przywrócić zranioną wzajemnym rozczarowaniem miłość między rodzicami i dziećmi?
		</li>
		<li>
			<u>Zranieni uzależnieniami</u> – Gdy człowiek ulega przekonaniu, że dla swego szczęścia potrzebuje koniecznie czegoś, co da mu doraźną pomoc, wtedy często wchodzi na drogę uzależnienia. Dla zagłuszenia bólu egzystencjalnego potrzebuje alkoholu, narkotyków, hazardu, telewizora, komputera… To, co miało mu pomóc, staje się jego przekleństwem. Utrata kontroli nad tymi „pocieszycielami” prowadzi do bezradności, do bankructwa. Jak wyrwać z uzależnienia? Jaką strategię pomocy uznać za słuszną? Gdzie szukać pomocy, gdy osoba bliska niszczona jest uzależnieniem?
		</li>
		<li>
			<u>Uzdrowieni przez miłość do siebie, do innych i do Boga</u>. Miłość leczy. Trzeba jednak wiedzieć jak dawkować to lekarstwo. Jak miłość jest lecząca a jaka toksyczna? Jakie są kryteria mądrego kochania siebie, innych a nawet Boga?
		</li>
	</ol>
	<br/>
	Wyżej wymienione sytuacje i problemy, to tylko skromy fragment w topografii problemów dotyczącej zranień miłości i leczenia miłością w małżeństwie i rodzinie. W ramach Kongresu Rodziny w Chicago podejmowana będzie refleksja i modlitwa wokół tematu: Zranieni – uzdrowieni w miłości. Mam nadzieję, ze wiele osób zaproponuje swoje czynne uczestnictwo w tych spotkaniach. Mam też głęboką nadzieję, że Bóg, który jest MIŁOŚCIĄ przyjdzie z pomocą wszystkim, którzy w relacji do miłości poczuli się zranieni, przegrani, winni. I ufam, że Bóg pobłogosławi wszystkim, którzy spotkają się podczas zbliżającego się kolejnego naszego Kongresu Rodzin.
	<br/><br/>
	<i>Ks. Romuald Jaworski, Warszawa</i>
</p>