
@{
	ViewBag.Title = "Modlitwa";
}

<p>
	<b>Czwartek, 19 listopada</b><br />
	7pm, Jezuicki Ośrodek Milenijny: Msza święta. Rozpoczęcie Kongresu, JE BP ANDRZEJ  P. WYPYCH
</p>
<p>
	<b>Piątek, 20 listopada</b><br />
	7pm, Jezuicki Ośrodek Milenijny: Msza św. i konferencja radiowa (WCEV 1450 AM), Ks. Romuald Jaworski<br /><br />
	7pm, Misja Miłosierdzia Bożego w Lombard, Nabożeństwo Pokutne, Ks. Michał Wyrzykowski<br /><br />
	7pm, Kościół św. Władysława, Nabożeństwo Pokutne, Ks. Piotr Samborski<br /><br />
	7pm, Sanktuarium św. Jana Pawła II, Ojcowie cystersi, Nabożeństwo Pokutne, 	O. Tomasz Oleniacz
</p>
<p>
	<b>Niedziela, 22 listopada</b>
	8am, Jezuicki Ośrodek Milenijny. Ojcowie jezuici: Msza św. i konferencja radiowa (WCEV 1450 AM oraz 1030 AM), Ks. Romuald Jaworski<br /><br />
	10am, Kościół św. Brunona: Msza św., kazanie, zakończenie Kongresu, JE ARCYBP BLASE J. CUPICH
</p>

