@{
	ViewBag.Title = "Program";
}


<table class="table-bordered">
	<thead>
		<tr>
			<td><b>DATA</b></td>
			<td><b>GODZINA</b></td>
			<td><b>LOKALIZACJA</b></td>
			<td><b>WYDARZENIE</b></td>
			<td><b>TEMAT</b></td>
			<td><b>PREZENTER</b></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Czwartek 19 listopada</td>
			<td>7pm</td>
			<td>Jezuicki Ośrodek Milenijny</td>
			<td>Msza święta.<br />Rozpoczęcie Kongresu</td>
			<td></td>
			<td>JE BP ANDRZEJ P. WYPYCH</td>
		</tr>
		<tr>
			<td>Piątek 20 listopada</td>
			<td>7pm</td>
			<td>Misja Miłosierdzia Bożego w Lombard</td>
			<td>Nabożeństwo pokutne</td>
			<td></td>
			<td>Ks. Michał Wyrzykowski</td>
		</tr>
		<tr>
			<td></td>
			<td>7pm</td>
			<td>Kościół św. Władysława</td>
			<td>Nabożeństwo pokutne</td>
			<td></td>
			<td>Ks. Piotr Samborski</td>
		</tr>
		<tr>
			<td></td>
			<td>7pm</td>
			<td>Sanktuarium św. Jana Pawła II Ojcowie cystersi</td>
			<td>Nabożeństwo pokutne</td>
			<td></td>
			<td>O. Tomasz Oleniacz</td>
		</tr>
		<tr>
			<td></td>
			<td>7pm</td>
			<td>Jezuicki Ośrodek Milenijny</td>
			<td>Msza św. i konferencja radiowa (WCEV 1450 AM)</td>
			<td></td>
			<td>Ks. Romuald Jaworski</td>
		</tr>
		<tr>
			<td></td>
			<td>8 - 10pm</td>
			<td>Kościół św. Daniela Proroka</td>
			<td>Warsztaty dla mężczyzn</td>
			<td>Siedem sekretów efektywnego ojcostwa</td>
			<td>Trener "tato.net"</td>
		</tr>
		<tr>
			<td>Sobota 21 listopada</td>
			<td>8 – 9:30am</td>
			<td>Polska Szkoła im. T. Kościuszki</td>
			<td>Warsztaty dla młodzieży szkolnej</td>
			<td>Język miłości i szacunku – garść pomysłów na rozmowy z rodzicami, rodzeństwem... i resztą świata</td>
			<td>Małgorzata Olczak</td>
		</tr>
		<tr>
			<td></td>
			<td>8am – 5pm</td>
			<td>Kościółśw. Daniela Proroka</td>
			<td>Warsztaty dla mężczyzn</td>
			<td>Siedem sekretów efektywnego ojcostwa</td>
			<td>Trener "tato.net"</td>
		</tr>
		<tr>
			<td></td>
			<td>9am – 1pm</td>
			<td>Jezuicki Ośrodek Milenijny</td>
			<td>Warsztaty</td>
			<td>Bibliodrama: Rodzina w Biblii – Biblia w rodzinie</td>
			<td>Ks. Romuald Jaworski</td>
		</tr>
		<tr>
			<td></td>
			<td>9am – 1pm</td>
			<td>Kościółśw. Ferdynanda</td>
			<td>Warsztaty w j. angielskim</td>
			<td>Wounded yet healed by love. Combating the contraceptive mentality in modern society. (Zranieni – uzdrowieni w miłości. Zmagania z antykoncepcyjną mentalnością współczesnego społeczeństwa)</td>
			<td>Dr Robert Lawler</td>
		</tr>
		<tr>
			<td></td>
			<td>9am – 12:15pm</td>
			<td>Wyspa Dzieci, Schiller Park</td>
			<td>Warsztaty</td>
			<td>Blisko, nie za blisko... Jak naprawić i wzmocnić więzi między rodzicami i dziećmi?</td>
			<td>O. Piotr Kochanowicz i Kamila Smyk-Jaworski</td>
		</tr>
		<tr>
			<td></td>
			<td>9:30am – 6:30pm</td>
			<td>Kings Hall,  Lombard</td>
			<td>Warsztaty dla par małżeńskich (na miejscu będzie opieka nad dziećmi)</td>
			<td>Zranieni – uzdrowieni w miłości</td>
			<td>O. Paweł Bandurski</td>
		</tr>
		<tr>
			<td></td>
			<td>10am – 1pm</td>
			<td>Bazylika św. Jacka</td>
			<td>Warsztaty dla osób powyżej 15 roku życia</td>
			<td>Zakazany smutek</td>
			<td>Sr. Maksymiliana</td>
		</tr>
		<tr>
			<td></td>
			<td>3pm – 7pm</td>
			<td>Kościółśw. Konstancji</td>
			<td>Warsztaty</td>
			<td>Jak kochać, gdy z oczu płyną łzy, czyli słów kilka o trudnej miłości</td>
			<td>Małgorzata Olczak</td>
		</tr>
		<tr>
			<td></td>
			<td>4pm – 8pm</td>
			<td>Jezuicki Ośrodek Milenijny</td>
			<td>Warsztaty</td>
			<td>Konflikty rodzinne w świetle analizy transakcyjnej</td>
			<td>Ks. Romuald Jaworski</td>
		</tr>
		<tr>
			<td>Niedziela 22 listopada</td>
			<td>8am - 8:30am</td>
			<td>Jezuicki Ośrodek Milenijny</td>
			<td>Msza św. i konferencja radiowa (WCEV 1450 AM oraz 1030 AM)</td>
			<td></td>
			<td>Ks. Romuald Jaworski</td>
		</tr>
		<tr>
			<td>Niedziela 22 listopada</td>
			<td>8am - 8:30am</td>
			<td>Jezuicki Ośrodek Milenijny</td>
			<td>Msza św. i konferencja radiowa (WCEV 1450 AM oraz 1030 AM)</td>
			<td></td>
			<td>Ks. Romuald Jaworski</td>
		</tr>
		<tr>
			<td></td>
			<td>10am</td>
			<td>Kościół św. Brunona</td>
			<td>Msza św., kazanie, zakończenie Kongresu</td>
			<td></td>
			<td>JE ARCYBP BLASE J. CUPICH</td>
		</tr>
		<tr>
			<td></td>
			<td>3pm - 5pm</td>
			<td>Jezuicki Ośrodek Milenijny</td>
			<td>Warsztaty: Panel dyskusyjny dla zainteresowanych drogą 12 kroków</td>
			<td>Wreszcie żyć. 12 kroków ku pełni życia</td>
			<td>Ks. Romuald Jaworski</td>
		</tr>
		<tr>
			<td>Piątek, Sobota, Niedziela 20 – 22 listopada</td>
			<td>Rozpoczęcie: piątek, 5pm. Zakończenie: Niedziela, 3pm</td>
			<td>Mundelein Seminary</td>
			<td>Warsztaty dla par małżeńskich, z zamieszkaniem w Mundelein, bez udziału dzieci</td>
			<td>Spotkania Małżeńskie</td>
			<td>Halina i Jerzy Florczyk O. Paweł Witon</td>
		</tr>
	</tbody>
</table>
<p>
	<br />
	<b>REJESTRACJA NA WSZYSTKIE WARSZTATY (liczba miejsc ograniczona):  <a href="http://www.kongresrodzinychicago.org">www.kongresrodzinychicago.org</a>  |  mail:  <a href="mailto:info@kongresrodzinychicago.org">info@kongresrodzinychicago.org</a></b><br />
	Organizatorzy uprzejmie proszą o donację na konto fundacji Not-For-Profit: “Strong Family”.<br />
	Organizatorzy zastrzegają sobie prawo odwołania warsztatów z przyczyn od nich niezależnych (wówczas wpłacone pieniądze zostaną zwrócone)
</p>