
@{
	ViewBag.Title = "Warsztaty";
}

<table class="table-bordered">
	<thead>
		<tr>
			<td><b>MIEJSCE</b></td>
			<td><b>TERMIN</b></td>
			<td><b>PREZENTACJE WARSZTATÓW</b></td>
			<td><b>CEL WARSZTATÓW I DO KOGO SKIEROWANE</b></td>
			<td><b>ZASADY UCZESTNICTWA</b></td>
			<td><b>POMOCE</b></td>
		</tr>
	</thead>
	<tbody id="content-placeholder">
		<tr>
			<td>Kościół św. Daniela Proroka<br /><br />5300 S. Natoma Ave. Chicago, IL 60638</td>
			<td>20 listopada 8pm – 10pm<br /><br />21 listopada    8am – 5pm</td>
			<td>Program warsztatów powstał w oparciu o badania socjologiczne przeprowadzone wśród ojców i dzieci, w efekcie których udało się zdiagnozowaćdwa typy relacji. Pierwsze z tych relacji można określić jako silne, budujące i rozwijające. Drugie natomiast są destruktywne, toksyczne i słabe. Różnica między nimi jest szczególnie widoczna w siedmiu obszarach, które określone zostały jako Siedem sekretów efektywnego ojcostwa. Ich poznanie pozwala przeżywać ojcostwo jako przynoszące radość i satysfakcję.</td>
			<td>Pogłębienie świadomości znaczenia ojcostwa.<br /><br />Warsztaty adresowane są do mężczyzn.<br /><br />Na warsztatach w piątek mile będą widziane żony.<br /><br />W sobotnich warsztatach biorą udział wyłącznie mężczyźni.</td>
			<td>* Konieczna wcześniejsza rejestracja (liczba uczestników ograniczona do 25 osób) oraz wypełnienie formularza na stronie <a href="http://www.tato.net/tatonet_en/warsztaty/details/424-7-sekretow-efektywnego-ojcostwa-chicago">www.tato.net</a><br /><br />Można także zapłałcić czekiem. Czek należy wystawić na “Domowy Kosciol” (bez polskich znaków) i wysłać do:<br />Anna Koczyjan<br />2636 Woodmere dr<br />Darien, IL 60561<br /><br />* Całkowity koszt warsztatów wynosi 2500 dolarów (na materiały informacyjne i pomocnicze, posiłek, opłacenie biletów na przyjazd i pobyt Trenera. Prowadzący nie pobiera honorariów za zaangażowanie).<br /><br/>* Koszt warsztatów wynosi 80 dolarów od osoby.<br /><br />* Dobry humor i pozytywne nastawienie. Nie obowiązuje strój oficjalny – zalecane jest nawet ubrać się nieco swobodniej.</td>
			<td>Każdy z uczestników otrzyma zeszyt warsztatowy, długopis oraz drobny upominek</td>
		</tr>
		<tr>
			<td>Jezuicki Ośrodek Milenijny<br /><br />5835 W Irving Park Rd, Chicago, IL, 60634<br /><br />"Aula Jana Pawła II"</td>
			<td>21 listopada 9am – 1pm (4x45 minut lub 2x1,5 godziny)</td>
			<td><i>"Bibliodrama jest otwartym procesem interakcji między tekstem biblijnym i jakąśgrupą, w którym próbuje się zintegrowaćprzekaz biblijny z osobistymi doświadczeniami. Celem jest nowe doświadczenie religijne i zrozumienie Biblii na bazie identyfikacji uczestników z postaciami i sytuacjami biblijnymi."</i> (Lexikon für Theologie und Kirche, s. 415)<br /><br />Bibliodrama jest spotkaniem bardzo bogatym w treści i formie. W pierwszym skojarzeniu bibliodrama jest spotkaniem z Biblią i jej bohaterami. Jest zarazem spotkaniem z sobąi swoimi myślami i uczuciami, które zostająwyzwolone w zaistniałej dramaturgii. Jest to także spotkanie z osobistą historiążycia i jej percepcją nie tylko z własnej perspektywy, ale z również z perspektywy biblijnej także z punktu widzenia innych uczestników zaangażowanych w spotkaniu bibliodramatycznym. Można też powiedzieć, że bibliodrama jest spotkaniem duszy i ciała. Jest to także spotkanie z Bogiem i rzeczywistościąnadprzyrodzoną. Wreszcie jest to spotkanie z innymi ludźmi, z grupą, ze wspólnotą. Z punktu widzenia nauki bibliodrama jest spotkaniem psychologii i religii, teologii i mistycyzmu.</td>
			<td>
				<b>Warsztaty Bibliodramy</b><br />
				- organizowane są dla wszystkich poszukujących nowych impulsów dla osobistej przemiany na bazie spotkańz Biblią realizowanych w formie dramy,<br />
				- umożliwiają nowe pogłębione dotarcie do treści biblijnych i nową relację do Boga, do innych ludzi, do samego siebie,<br />
				- są dobrą okazją do pogłębienia praktycznych kompetencji dla animatorów wspólnot, psychoterapeutów, katechetów, nauczycieli, trenerów,<br />
				<b>W ramach proponowanych warsztatów będzie miało miejsce:</b><br />
				- wprowadzenie teoretyczne w technikębibliodramy,<br />
				- doświadczenie siebie w konfrontacji z tekstem biblijnym poprzez wchodzenie w role postaci biblijnych w odgrywanych scenkach biblijnych,<br />
				- podsumowanie doświadczeń przeżytych w tym spotkaniu.<br />
				- Uczestnicy warsztatów deklarująchęćuczestniczenia w kolejnych warsztatach, by się przygotować do prowadzenia zajęćbibliodramy. Będą zatem pozostawaćw kontakcie z organizatorami warsztatów także po ich zakończeniu.
			</td>
			<td>
				* Od uczestników oczekuje sięgotowości do aktywnego uczestnictwa w odgrywanych scenach oraz odważnego dzielenia się swoimi refleksjami, spostrzeżeniami, pytaniami.  Aktywna obecność na wszystkich zajęciach od początku do końca.<br /><br />
				* Konieczna wcześniejsza rejestracja.<br /><br />
				* Całkowity koszt warsztatów wynosi 600 dolarów<br /><br />
				* Sugerowana donacja dla "Strong Family"<br /><br />
				* Biorąc pod uwagę ograniczonąliczbę uczestników w tych warsztatach (25 osób) wszystkich zainteresowanych dopuszczać do udziału będzie ojciec Tomasz Oleniacz, z Jezuickiego Ośrodka Milenijnego. Jako ważne kryterium będą brane pod uwagęmożliwości kandydata do uczestniczenia w kolejnych warsztatach oraz do prowadzenia zajęć bibliodramy.
			</td>
			<td>
				- Biblia<br />
				- kartki na pytania,<br />
				- długopis
			</td>
		</tr>
		<tr>
			<td>Św. Ferdynand</td>
			<td>21 listopada 9am – 1pm</td>
			<td>
				W dzisiejszym nowoczesnym świecie jest rosnąca presja dostosowania się do status quo, zwłaszcza jeśli chodzi płodnośċ. Ta presja zwykle koncentruje sięna aborcji, antykoncepcji i związkach przepełnionych przemocą. Na początku chciałbym zdefiniowaċ problemy które dotyczą wielu kobiet w naszym kraju i chciałbym pokazaċ jak wiele z nich jest powiązanych. Następnie chciałbym zaoferowaċstrategię pomocy. Jedna ze strategji zawiera obserwacje i zapis zmian cyklu menstruacyjnego oraz ich wpływ na diagnostyke i leczenie. Dołącze krótkie wprowadzenie do Naprotechnologii zapoczątkowanej w Instytucie Pawła VI w Omaha<br /><br />
				Wiele kobiet w dzisiejszym świecie boryka sięz presją wywieraną przez środowisko medyczne lub przez otoczenie aby zaakceptowaċ antykoncepcyjnąmentalnośċ, która obejmuje sztuczne zapłodnienie IVF i aborcję. Chce tym kobietom powiedzieċże jest zdrowsy sposób na panowanie nad swoją płodnością, sposób który jest moralny I etyczny.<br /><br />
				Tematy, które będą poruszane:<br /><br />
				<ol>
					<li>
						Bezpłodnośċ jako krzyż.
					</li>
					<li>Subkulturaci (depresja, skłonności samobójcze, bezpłodnośċ)</li>
					<li>Aborcja i antykoncepcja</li>
					<li>Wprowadzenie do Naprotechnologii</li>
				</ol>
			</td>
			<td>Głównym celem tych edukacyjnych warsztatów jest poruszenie różnorodności tematów związanych z kobiecym zdrowiem ginekologicznym.</td>
			<td>Konieczna wcześniejsza rejestracja Całkowity koszt przeprowadzenia warsztatów wynosi ok. 1550 dolarów.Sugerowana donacja dla „Strong Family”.<br />Aktywny udział w zajęciach warsztatowych.</td>
			<td>- kartka i długopis</td>
		</tr>
		<tr>
			<td>Kings Hall<br />1000 N Rohlwing Rd, Lombard, IL 60148</td>
			<td>
				21 listopada 9:30am - 6:30pm<br />
				9:30 - rozpoczęcie<br />
				10-10:45 - konferencja<br />
				11-11:45 - warsztaty<br />
				12-13 - lunch<br />
				13-13:45 - konferencja<br />
				14-15 - grupy dzielenia<br />
				15 - koronka do Miłosierdzia Bożego & kawa<br />
				15:30 - podsumowanie grup dzielenia<br />
				16:30 - Eucharystia & wystawienie Najświętszego Sakramentu<br />
				18 - zakończenie<br />
				18:30 - randka małżeńska
			</td>
			<td>Otrzymaliśmy od Boga dar życia. To bezcenne obdarowanie realizujemy na drodze różnych powołań. Najczęściej jesteśmy wezwani do życia w sakramentalnej wspólnocie małżeńskiej. Początkowe marzenia o idealnym małżeństwie zastępuje rzeczywistość, w której zmagamy się ze sobą, z małżonkiem lub małżonką, z dziećmi i z szerszą rodziny. Mijają lata... To wszystko niejednokrotnie nas przerasta. W związku z tym porzucamy marzenia o szczęśliwym życiu w małżeństwie na rzecz pogrążania sięw marazmie i beznadziei. Czasami dochodzi nawet, po latach, do bolesnych rozstańi prób wchodzenia w kolejne związki. Jesteśmy poranieni i zniechęceni. Czy tak być musi? Oczywiście, że nie. źadna sytuacja nie jest przegrana. Bóg pragnie naszego szczęścia i posiadamy wszystko, Żeby to szczęście i spełnienie w życiu małżeńskim i rodzinnym osiągnąć. Czego zatem brakuje? Na te pytania znajdziecie odpowiedź podczas weekendu małżeńskiego.</td>
			<td>Zapraszamy wszystkich – wszystkie pary małżeńskie. Również tych, którzy na tym etapie swojego życia uważająsię za spełnionych.  Warto jednak zainwestować w przyszłość, bo stawką jest życie już nie tylko twoje, ale twoich bliskich. Tych, których kochasz. Proszę, dajcie szansę sobie, swojemu małżeństwu i rodzinie.</td>
			<td>
				* Konieczna wcześniejsza rejestracja (liczba uczestników ograniczona do 150 par małĪeńskich)<br /><br />
				* Rejestracja pod telefonem<br />630-424-0401<br />773-865-4955<br />773-865-4955<br /><br />
				* Dodatkowe info i rejestracja przez internet: <a href="mailto:schrprov@aol.com">schrprov@aol.com</a><br /><br />
				* Koszty warsztatów 60 dolarów od pary małĪeńskiej, płatne czekiem dla: Society of Christ<br /><br />
				Czek wysłać na adres: Dom Prowincjalny 786 W Sunset Ave, Lombard, IL 60148.<br /><br />
				* Aktywna obecność na wszystkich zajęciach od początku do końca.
			</td>
			<td>
				Dla dzieci będzie zapewniona opieka w oddzielnej sali.<br /><br />
				- Pismo św.<br />
				- kartki<br />
				- długopis
			</td>
		</tr>
		<tr>
			<td>Bazylika św. Jacka<br />3636 W Wolfram St, Chicago, IL 60618</td>
			<td>21 listopada 10am – 1pm Przerwa na kawę, ciasto</td>
			<td>
				<ol>
					<li>Rodzaje przemocy i zaniedbań.</li>
					<li>Techniki wychowawcze.</li>
					<li>Dziecko chciane i przyjęte.</li>
					<li>Aborcja i jej skutki.</li>
					<li>"Ocaleńcy" od aborcji.</li>
					<li>Film "Cywilizacja aborcji".</li>
				</ol>
			</td>
			<td>
				Cel warsztatów:<br />
				<ol>
					<li>Podkreślenie wartości ludzkiego życia od momętu poczęcia.</li>
					<li>Uwrażliwienie na sposoby wychowawcze dzieci i młodzieży.</li>
					<li>Aborcja=zabójstwo dziecka i matki.</li>
				</ol>
				Warsztaty są skierowane do wszystkich, którzy szanujążycie ludzkie i znają jego wartość. Dla ofiar aborcji, rodziców, dziadków, lekarzy, rodzeństwa dzieci abortowanych, tzw. "Ocaleńców".<br /><br />
				Warsztaty skierowane są do osób od 15 roku życia.
			</td>
			<td>
				* Konieczna wcześniejsza rejestracja<br /><br />
				* Aktywna obecność na wszystkich zajęciach od początku do końca.<br /><br />
				* Całkowity koszt przeprowadzenia warsztatów wynosi 600 dolarów.<br /><br />
				* Sugerowana donacja dla fundacji "Strong Family".<br /><br />
				* Wobec uczestników jest oczekiwana gotowość do aktywnego uczestnictwa w całych warsztatach.
			</td>
			<td>
				- kartki na pytania<br />
				- długopis
			</td>
		</tr>
		<tr>
			<td>
				Kościółśw. Konstancji<br />
				5843 W. Strong St.   Chicago, IL 60630
			</td>
			<td>21 listopada 3pm – 6pm</td>
			<td>Przybliżenie koncepcji współuzależnienia i enabling w odniesieniu do relacji między współmałżonkami, rodzicami/dziećmi, dorosłe dzieci/rodzice, jakiekolwiek inne osoby.</td>
			<td>Warsztat adresowany do wszystkich zainteresowanych tematem.</td>
			<td>
				* Konieczna wcześniejsza rejestracja(liczba miejsc ograniczona do 50 uczestników)<br /><br />
				* Całkowity koszt warsztatów wynosi 600 dolarów<br /><br />
				* Sugerowana donacja dla "Strong Family"<br /><br />
				* Aktywna obecność na zajęciach od początku do końca.
			</td>
			<td>
				- kartki na pytania<br />
				- długopis
			</td>
		</tr>
		<tr>
			<td>Jezuicki Ośrodek Milenijny<br /><br />5835 W Irving Park Rd, Chicago, IL, 60634<br /><br />"Aula Jana Pawła II"</td>
			<td>21 listopada 4 – 8pm (4x45 minut lub 2x1,5 godziny)</td>
			<td>Stworzona przez Erica Berne psychologiczna koncepcja stosunków międzyludzkich, opierająca się na idei wyodrębnienia w strukturze Ja trzech stanów: Rodzica, Dorosłegoi Dziecka pozwala opisać w ciekawy i przystępny sposób dynamikę konfliktów oraz umożliwia znalezienie sposobu na ich konstruktywne przepracowanie lub łagodzenie.  W ramach spotkania będzie częśćwprowadzająca i umożliwiająca zrozumienie tej koncepcji psychologicznej oraz ćwiczenia ilustrujące procesy zachodzące w sytuacjach konfliktów małżeńskich i rodzinnych oraz wskazanie na strategie ich opanowania lub wykorzystania.</td>
			<td>
				Warsztaty przybliżą procesy zachodzące w sytuacjach konfliktowych oraz wskażąstrategie postepowania w celu ich opanowania.<br /><br />
				Skierowane są do ludzi otwartych na zminimalizowanie konfliktów.
			</td>
			<td>
				* Konieczna wcześniejsza rejestracja (liczba uczestników ograniczona do 182)<br /><br />
				* Sugerowana donacja dla "Strong Family".<br /><br />
				* Aktywna obecność na wszystkich zajęciach od początku do końca.Wobec uczestników jest tu oczekiwanie gotowości do aktywnego uczestnictwa w odgrywanych scenach oraz odważnego dzielenia się swoimi refleksjami, spostrzeżeniami, pytaniami.
			</td>
			<td>
				- kartki na pytania<br />
				- długopis
			</td>
		</tr>
		<tr>
			<td>Jezuicki Ośrodek Milenijny<br /><br />5835 W Irving Park Rd, Chicago, IL, 60634<br /><br />"Aula Jana Pawła II"</td>
			<td>22 listopada 3pm - 5pm</td>
			<td>
				Program 12 kroków jest duchowym programem odnowy. Jest związany z biblijną tradycjąi ukierunkowany przede wszystkim na odkrywanie i pogłębianie znaczenia duchowej sfery własnego życia. Pomaga w odkryciu osobistej potrzeby nawiązania relacji z Bogiem, w poznaniu jej znaczenia we własnym życiu i znalezieniu sposobu jej zaspokojenia.<br />
				Uczestnicy spotkań ucząsię kształtowania własnego życia nie tyle na bazie własnej siły, lecz dzięki mocy Ducha ĝwiętego.<br />
				Dzięki prowadzeniu przez Ducha ĝwiętego program 12 kroków pomaga dokonać głębokiej zmiany w osobistym życiu. Stanowi okazję do twórczego wykorzystania cierpienia i zmiany podstaw (zajęcie się nie tylko symptomami, ale przyczynami przeżywanych trudnoś ci), aby wypełnić własną wewnętrzną pustkę i w dostrzec znaczenie obecnoś ci Boga w swym życiu. Ta duchowa podróż uwalnia od zniewoleń i uzależnień, a także wyzwala i ujawnia niezauważalną dotychczas energię, miłość i radość.<br /><br />
				Ks. Jaworski jako pierwszy w Polsce upowszechniłwarsztaty 12-kroków i przygotował odpowiednie materiały pomocnicze. W czasie spotkania w oparciu o własne doś wiadczenie przedstawi swojąwizje tych warsztatów. W drugiej części spotkania będzie możliwość zadawania pytań.
			</td>
			<td>Organizatorzy spodziewająsię, że spotkanie będzie szczególnie użyteczne dla wszystkich, którzy uczestniczyli lub aktualnie uczestniczą w tym programie. Dla tych natomiast, u których 12 kroków wzbudzają zainteresowanie, będzie to doskonała okazja zapoznania sięz warsztatami u osoby najbardziej kompetentnej.</td>
			<td>
				* Konieczna wcześniejsza rejestracja (liczba uczestników ograniczona do 182)<br /><br />
				* Całkowity koszt przeprowadzenia warsztatów wynosi 600 dolarów.<br /><br />
				* Sugerowana donacja dla "Strong Family".<br /><br />
				* Aktywna obecność na całych zajęciach od początku do końca.<br /><br />
				* Wobec uczestników jest  oczekiwana gotowości do aktywnego uczestnictwa w warsztatach oraz do odważnego dzielenia się swoimi refleksjami, spostrzeżeniami, pytaniami.
			</td>
			<td>
				- kartki na pytania<br />
				- długopis
			</td>
		</tr>
		<tr>
			<td>Seminary in Mundelein<br />1000 East Maple Ave, Mundelein, Il 60060</td>
			<td>Od: 20 listopada, 5pm<br />Do: 22 listopada, 3pm</td>
			<td>
				Spotkania Małżeńskie mają na celu pogłębienie, odnowienie, a nieraz odbudowanie miłości małżeńskiej. Podstawową formąpracy są dwudniowe spotkania o charakterze rekolekcji zamkniętych, które prowadzone są w duchu dialogu męża i żony.<br />
				Małżonkowie przez całe trzy dni trwania rekolekcji przebywają w ośrodku w Mundelein.<br />
				Zajęcia rekolekcyjne odbywająsię według ściśle przygotowanego programu. Udział w rekolekcjach biorą mążi żona razem, bez dzieci, teściowych, rodziców, zwierzątek itp.
			</td>
			<td>
				Umocnienie sakramentalnego związku i praca nad komunikacją, dialogiem. Skorzystać mogą wszyscy, którzy pragną, aby ich miłośćmałżeńska rozwijała się. Są szczególnie pomocne dla par przeżywających kryzys małżeński Przeznaczone dla małżeństw tzw. „dobrych” jak również dla przeżywających trudności czy przechodzących przez kryzys, którym zależy na uratowaniu związku.
			</td>
			<td>
				* Udział w warsztatach biorą udział mąż i żona, bez dzieci, od piątku do niedzieli z noclegiem.<br /><br />
				* Wymagana aktywna obecność na wszystkich zajęciach od początku do końca.<br /><br />
				* Wymagana jest wcześniejsza rejestracja (maksimum 17 par małżeńskich). Mążi żona wypełniają przygotowany wcześniej formularz.<br /><br />
				* Koszt warsztatów wynosi 450 dolarów od pary małżeńskiej (na pokrycie wynajmu ośrodka rekolekcyjnego, pokoi dla małżeństw, śniadań, obiadów i kolacji, oraz materiałów do prowadzenia rekolekcji oraz na opłacenie biletów na przyjazd i pobyt prowadzących. Prowadzący nie pobierajążadnych honorariów za zaangażowanie i prowadzenie rekolekcji).<br /><br />
				* Zapisy przyjmują:<br />- Olga Kalata, tel. 773 230-2731,<br /> - Krzysztof Kalata, tel. 773 814-4404
			</td>
			<td>
				- Ubranie na trzy dni, przybory toaletowe.<br />
				- Ręczniki i pościel będą już przygotowane na miejscu.
			</td>
		</tr>
	</tbody>
</table>