
@{
    ViewBag.Title = "Współpraca";
}

<h2>Współpraca</h2>

<div class="img-responsive">
    <a href="#" title="12 Kroków" class="thumbnail">
        <img src="~/Content/ads/cooperators/12krokow.jpg" alt="12 Kroków" />
    </a>
</div>
<div class="img-responsive">
    <a href="http://www.domowykosciol.org/" title="Domowy Kościół Chicago" class="thumbnail">
        <img src="~/Content/ads/cooperators/domowy_kosciol.jpg" alt="Domowy Kościół Chicago" />
    </a>
</div>
<div class="img-responsive">
    <a href="http://www.jp2group.com/" title="JPII Group" class="thumbnail">
        <img src="~/Content/ads/cooperators/jp2group.jpg" alt="JPII Group" />
    </a>
</div>
<div class="img-responsive">
    <a href="#" title="Krąg Miłosierdzia" class="thumbnail">
        <img src="~/Content/ads/cooperators/krag_milosierdzia.jpg" alt="Krąg Miłosierdzia" />
    </a>
</div>
<div class="img-responsive">
    <a href="#" title="Towarzystwo Przyjaciół i Absolwentów KUL w Chicago" class="thumbnail">
        <img src="~/Content/ads/cooperators/kul_absolwenci.jpg" alt="Towarzystwo Przyjaciół i Absolwentów KUL w Chicago" />
    </a>
</div>
<div class="img-responsive">
    <a href="http://www.familyministries.org/" title="Marriage and Family Ministries" class="thumbnail">
        <img src="~/Content/ads/cooperators/marriage_fam_ministries.jpg" alt="Marriage and Family Ministries" />
    </a>
</div>
<div class="img-responsive">
    <a href="#" title="New Evangelization" class="thumbnail">
        <img src="~/Content/ads/cooperators/new_evangelization.jpg" alt="New Evangelization" />
    </a>
</div>
<div class="img-responsive">
    <a href="#" title="Plomyczek" class="thumbnail">
        <img src="~/Content/ads/cooperators/plomyczek.jpg" alt="Plomyczek" />
    </a>
</div>
<div class="img-responsive">
    <a href="http://polski.fm/" title="Polski FM" class="thumbnail">
        <img src="~/Content/ads/cooperators/polski_fm.jpg" alt="Polski FM" />
    </a>
</div>
<div class="img-responsive">
    <a href="http://www.polskieradio.com/" title="Polskie Radio" class="thumbnail">
        <img src="~/Content/ads/cooperators/polskie_radio.png" alt="Polskie Radio" />
    </a>
</div>
<div class="img-responsive">
    <a href="http://www.wpna1490am.com/" title="WPNA" class="thumbnail">
        <img src="~/Content/ads/cooperators/radio_maryja.jpg" alt="WPNA" />
    </a>
</div>
<div class="img-responsive">
    <a href="http://www.radiosiedem.net/" title="Radio Siedem" class="thumbnail">
        <img src="~/Content/ads/cooperators/radio7.jpg" alt="Radio Siedem" />
    </a>
</div>
<div class="img-responsive">
    <a href="http://www.relevantradio.com/" title="Relevant Radio" class="thumbnail">
        <img src="~/Content/ads/cooperators/relevant_radio.jpg" alt="Relevant Radio" />
    </a>
</div>
<div class="img-responsive">
    <a href="http://sychar.org/" title="Sychar" class="thumbnail">
        <img src="~/Content/ads/cooperators/sychar.org.jpg" alt="Sychar" />
    </a>
</div>
<div class="img-responsive">
    <a href="http://www.trojcowo.com/" title="Trojcowo Chicago" class="thumbnail">
        <img src="~/Content/ads/cooperators/trojcowo.jpg" alt="Trojcowo Chicago" />
    </a>
</div>
<div class="img-responsive">
    <a href="http://tv-trwam.pl/" title="Trwam" class="thumbnail">
        <img src="~/Content/ads/cooperators/trwam.jpg" alt="Trwam" />
    </a>
</div>
<div class="img-responsive">
    <a href="http://www.wcev1450.com/" title="WCEV 1450 AM" class="thumbnail">
        <img src="~/Content/ads/cooperators/wcev1450.gif" alt="WCEV 1450 AM" />
    </a>
</div>
<div class="img-responsive">
    <a href="http://www.wzch.org.pl/" title="WZCH" class="thumbnail">
        <img src="~/Content/ads/cooperators/wzch.jpg" alt="WZCH" />
    </a>
</div>
<div class="img-responsive">
    <a href="http://www.yamchicago.org/" title="Young Adult Ministry" class="thumbnail">
        <img src="~/Content/ads/cooperators/young_adult_ministry.jpg" alt="Young Adult Ministry" />
    </a>
</div>
