{{#each Participants}}
<div class="row panel">
    <div class="col-md-8 col-xs-12">
        <img src="{{ImageURL}}" class="img-thumbnail picture hidden-xs" />
        <div class="header">
            <h1>{{ParticipantName}}</h1>
            <h4>{{ParticipantTitle}}</h4>
            <span>{{{ParticipantBio}}}</span>
        </div>
    </div>
</div>
{{/each}}